@import "../contstants";
@import "../mixins";

.article_preview {

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  min-width: 250px;
  padding: $padding 0;
  box-sizing: border-box;
  color: $color;
  //border-bottom: 1px solid $color3;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    min-width: 250px;
    max-width: 570px;
    height: 1px;
    min-height: 1px;
    background-color: $color3;
  }

  a {
    color: $color;
    text-decoration: none;
  }

  .title, .lead, .cover {
    margin-bottom: $margin;
    font-family: $family_arimo;
  }

  .title {
    font-size: 17px;
    line-height: 22px;
    font-weight: $font-weight-bold;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .title__avatar {
      margin-left: $margin;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    .title__edit {
      width: 30px;
      height: 30px;
      background-color: $color4;
      border-radius: 50%;

      svg {
        width: 30px;
        height: 30px;
        fill: $color

      }
    }
  }

  .lead {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 17px;
    max-height: 51px;
    overflow: hidden;
  }

  .cover {
    width: 100%;

    img {
      width: 100%;
      height: 100px;
      object-fit: cover;
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;
    font-family: $family-open-sans;
    font-size: 10px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: space-between;

    .owner {
      font-weight: $font-weight-bold;
      flex-grow: 1;
    }

    .views {
      display: flex;
      flex-direction: row;
      align-items: center;
      svg {
        width: 15px;
        height: 15px;
        stroke: $color;
        fill: transparent;
        stroke-width: 4px;
        margin-right: 5px;
      }
    }

    .delete {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      font-size: 9px;
      text-transform: uppercase;
      cursor: pointer;

      svg {
        width: 7px;
        height: 7px;
        fill: $color;
        margin-left: 5px;
      }
    }

    div {
      margin-left: 5px;
    }
    div:first-child {
      margin: 0;
    }

  }

  .bottom_controls {
    display: none;
    flex-direction: row;
    justify-content: space-between;

    //a {
    //  flex-grow: 1;
    //  display: block;
    //  text-decoration: none;
    //}
    div, a {
      flex-grow: 1;
      text-align: center;
      font-size: 9px;
      text-transform: uppercase;
      text-decoration: none;
      height: 35px;
      line-height: 35px;
      background-color: $color4;
      cursor: pointer;

      margin: 0 2px;

      &:hover {
        color: #FFFFFF;
        background-color: $color;
        &.delete {
          background-color: $color-accent;
        }
      }
    }
  }


}

@media (min-width: 1024px) {
  .article_preview {

    padding: $padding $padding/2;

    .title {
      .title__edit {
        display: none;
      }
    }


    .bottom {
      justify-content: flex-start;
      font-size: 12px;
      div, div:first-child{
        margin-right: $margin;
      }
      .delete {
        display: none;
      }

      .views {
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    &.article_preview_owner:hover {

      background-color: #F7F7F7;

      .bottom {
        display: none;
      }

      .bottom_controls {
        display: flex;
      }
    }
  }

}