@import "../contstants";
@import "../mixins";

.article_preview {

  box-sizing: border-box;
  background-color: #FFFFFF;
  padding: $padding/2;
  width: 100%;
  max-width: 600px;
  margin-bottom: $margin;

  .filler {
    flex-grow: 1;
  }

  a {
    text-decoration: none;
  }

  &.new {
    opacity: 0.3;
  }

  @include transition(300ms);
  opacity: 1;

  .article_preview__cover {
    width: 100%;
    min-width: 100%;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .article_preview__title {

    font-family: $family-arimo;
    font-size: 14px;
    font-weight: $font-weight-bold;
    line-height: 18px;
    margin-bottom: $margin;

    a {
      color: $color;
    }
  }

  .article_preview__avatar {

    width: 25px;
    height: 25px;

    @include border_radius(50%);
    img {
      width: 100%;
      height: 100%;
      @include border_radius(50%);
    }

  }

  .article_preview__mobile_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: $margin;
  }

}