@import "../contstants";

[contenteditable] {
  outline: none;
}

.content_editable {
  position: relative;

  .empty_tag {
    position: relative;
  }

  &.empty:empty:after, &.empty .empty_tag:last-child:after {
    content: attr(data-placeholder);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: $color3;
    cursor: text;

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  &.center {
    text-align: center;

  }

  &.right {
    text-align: right;
  }
}
