@import "../contstants";

[contenteditable] {
  outline: none;
  word-wrap: break-word; //Firefox fix
}

.content_editable {
  position: relative;

  span {
    display: inline-block;
    width: 100%;
  }

  .empty_tag {
    position: relative;
  }

  &.inline.empty:after, &.empty .empty_tag:last-child:after {
    content: attr(data-placeholder);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: $color3;
    cursor: text;
    @include no-select();

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  &.center {
    text-align: center;

  }

  &.right {
    text-align: right;
  }
}
