@import "../contstants";
@import "../mixins";

.editable_image_modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $color5;

  .editable_image_modal__head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;

    svg {
      fill: white;
    }
  }

  .editable_image_modal__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .editable_image_modal__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin-top: 30px;

    .editable_image_modal__button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 30px;
      }

      svg {
        width: 35px;
        height: 35px;
        fill: white;
      }
    }
  }
}