@import "../contstants";
@import "../mixins";

.image_editor_alt {
  position: relative;
  z-index: 2;
  
  canvas {
    cursor: url('../../assets/images/move.svg') 12.5 12.5, move;
  }

  .image_editor_alt__control {
    width: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include rotate(-90deg);
    cursor: auto;

    input[type="range"] {
      width: 100%;
      background: transparent;
      cursor: pointer;
      @include input-range-thumb($color, 13px, 13px, 50%, -5.5px, 2px solid $color3);
      @include input-range-track($color3, 100%, 2px, none, 2px);
    }

  }
}