@import "../contstants";
@import "../mixins";

.image_editor_simple {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 $basic_mobile_offset;
  box-sizing: border-box;

  canvas {
    width: 100%;
    height: auto;
    cursor: url('../../assets/images/move.png') 12.5 12.5, move;
  }

  .image_editor_simple__control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    cursor: auto;

    input[type="range"] {
      width: 100%;
      background: transparent;
      cursor: pointer;
      @include input-range-thumb($color7, 13px, 13px, 50%, -5.5px, 1px solid $color4);
      @include input-range-track($color4, 100%, 1px, none, 1px);
    }

  }
}