@import "../contstants";
@import "../mixins";

.loading {
  $indicator_size: 8px;
  $transition_duration: 200ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  height: 30px;

  & > div {
    @include border_radius(50%);
    @include transition($transition_duration);
    min-width: $indicator_size;
    width: $indicator_size;
    height: $indicator_size;
    background-color: $color5;
    margin: 0 3px;
    opacity: 0.1;

    &.indicated {
      @include transition($transition_duration);
      opacity: 0.8;
    }
  }
}