@import "../contstants";
@import "../mixins";

$menu_button_size: 50px;

.menu_button {
  @include transition();
  @include border_radius($menu_button_size);
  @include box_shadow(10px, rgba(0, 0, 0, 0.2), 3px, 3px);
  position: fixed;
  top: $margin;
  left: $margin;
  width: $menu_button_size;
  height: $menu_button_size;
  background-color: $color1;
  text-align: center;
  line-height: $menu_button_size;
  color: white;
  font-size: 20px;
  z-index: 20;

  &:after {
    content: 'T';
  }
  
  &.hidden {
    opacity: 0;
    @include scale(0, 0);
  }
}

@media (min-width: 1024px) {
  .menu_button {
    display: none;
  }

}