@import "../contstants";
@import "../mixins";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;

  &:not(.opened) {
    display: none;
  }
}

.modal__content {
  width: 100%;
  height: 100%;
  background-color: $color;
}

@media (min-width: 600px) {
  .modal__content {
    width: 600px;
    min-height: 50%;
  }
}
