@import "../contstants";
@import "../mixins";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;

  &:not(.opened) {
    display: none;
  }
}

.modal__content {
  width: 100%;
  height: 100%;
  background-color: $color;
}

@media (min-width: 600px) {
  .modal__content {
    width: 600px;
    min-height: 50%;
    margin: 0 auto;
  }
}


@media (min-width: 1024px) {

  .modal__content {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}