@import "../contstants";
@import "../mixins";

.notification {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - #{$padding}*2);
  max-height: 30vw;
  padding: $padding;
  background-color: $color;
  color: white;
  text-align: center;
  z-index: 30;

  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;

  .notification__close {
    position: absolute;
    top: $margin;
    right: $margin;
    width: 15px;
    height: 15px;
    fill: white;
  }

  &:not(.opened) {
    display: none;
  }

  @include desktop {
    width: 300px;
    left: 30px;
    bottom: 30px;
  }
}