@import "../contstants";
@import "../mixins";

$size: 50px;

.popup_panel {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $size;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background-color: $color;
  z-index: 20;

  &:not(.opened) {
    display: none;
  }

  &.notification {
    height: unset;
    max-height: 30vw;
  }

  .popup_panel__close {
    position: absolute;
    top: $margin/2;
    right: $margin/2;
    background: url('../../assets/images/close.svg') no-repeat center center;
    background-size: 20px;
  }

  &:not(.notification) {
    .popup_panel__close {
      display: none;
    }
  }
}