@import "contstants";
@import "mixins";

.article {
  width: 100%;

  .article__title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 0;
    background-size: cover!important;
    text-align: center;
    //background-color: $color4;
    border-bottom: 1px solid $color3;
    margin-bottom: 50px;

    .article__author {
      display: block;
      position: absolute;
      width: 100%;
      height: 20px;
      top: 30px;
      text-align: center;
      font-size: 12px;
      line-height: 14px;
      font-family: $family_open_sans;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: underline;
      color: $color;
      cursor: pointer;
    }

    h1 {
      @include title_font();
      width: calc(100% - #{$padding}*2);
      margin: 0 auto;
      position: relative;
      word-wrap: break-word;
    }

    .article__stats {
      position: absolute;
      width: 100%;
      bottom: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color;
      letter-spacing: 1px;
      text-align: center;
      font-size: 12px;
      font-family: $family_open_sans;
      line-height: 14px;
    }

    .article__author1, .article__date, .article__views {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    .article__author1 {
      a {
        color: $color;
      }
    }

    .article__views {
      display: flex;
      align-items: center;

      svg {
        width: 18px;
        height: 18px;
        fill: transparent;
        stroke: $color;
        stroke-width: 4px;
        margin-right: 10px;
      }
    }

    &.inverted {
      color: white;

      &:before {
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .article__stats {
        color: white;

        a {
          color: white;
        }

        svg {
          stroke: white;
        }
      }

      .article__author {
        color: white
      }
    }

    @include desktop {
      padding: 120px 0;
      min-height: calc(360px - 120px * 2);
      max-height: calc(480px - 120px * 2);
      overflow: hidden;
      margin-bottom: 30px;

      h1 {
        @include title_font_desktop();
        width: 600px;
        margin: 0 auto;
      }

      .article__author {

      }
    }
  }

  .article__content_wrapper {
    position: relative;
  }

  .article__content {
    position: relative;

    & > p, h2, blockquote, ul, .lead, .phrase, .columns, .embed, .photos, .dialogue, .single_photo {
      padding: $padding/2 $padding;
    }

    iframe {
      width: 100%;
    }

    h2 {
      @include header_font();
      margin-top: 20px;
    }

    & > p {
      @include text_font();
      line-height: 29px;
    }

    ul {
      list-style: disc outside;
      font-size: 18px;
      line-height: 29px;

      li {
        margin-left: 15px;
        padding-left: 5px;
      }
    }

    blockquote {
      @include quote_font();
      position: relative;
      margin: 45px 0;

      & > p:before {
        content: '';
        display: inline-block;
        background: url('../assets/images/pub_quote.svg') no-repeat center center;
        background-size: 36px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-bottom: -5px;
      }

      &.personal {
        margin-top: 35px + $padding;
        padding-top: 40px;

        img {
          position: absolute;
          width: 70px;
          height: 70px;
          top: -35px;
          left: calc(50% - 35px);
          @include border_radius(70px);
          object-fit: cover;
        }
      }
    }

    a, a:visited {
      color: $color;
      font-weight: $font-weight-bold;
    }

    strong {
      font-weight: $font-weight-bold;
    }

    em {
      font-style: italic;
    }

    .lead {
      @include lead_font();
    }

    .columns {
      @include columns_font();
      display: flex;
      position: relative;
      padding-top: 45px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        width: calc(100% - 60px);
        height: 3px;
        background-color: $color;
      }

      .column {
        height: 100%;
      }

      .column:first-child {
        width: 38%;

        img {
          width: 100%;
          margin-top: 7.5px;
        }
      }

      .column:not(:first-child) {
        width: calc(62% - #{$margin});
        margin-left: $margin;
      }
    }

    .phrase {
      @include phrase_font();
      position: relative;
      text-align: right;
      padding-top: 45px;
      padding-left: 25%;

      &:after {
        content: '';
        position: absolute;
        top: 30px;
        left: 25%;
        width: calc(75% - 30px);
        height: 3px;
        background-color: $color;
      }
    }

    .embed {
      &.video {
        visibility: hidden;
      }
    }

    .single_photo {
      img {
        width: 100%;
        height: auto;
      }

      .caption {
        text-align: center;
        color: $color5;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
        margin-top: 15px;
        font-family: $family_open_sans;
      }
    }

    .photos {
      $space: 10px;
      $photo_height: 200px;
      $desktop_photo_height: 400px;

      padding: $padding;

      .photo {
        object-fit: cover;
        float: left;
        cursor: pointer;
        display: none;

        &.photo_0 {
          width: calc(80% - #{$space}/2);
          height: $photo_height;
          margin-right: $space;
        }

        &.photo_1, &.photo_2, &.photo_3, &.photo_4, &.photo_5 {
          width: calc(20% - #{$space}/2);
          height: ($photo_height - 4 * $space) / 5;
        }

        &.photo_1, &.photo_2, &.photo_3, &.photo_4 {
          margin-bottom: $space;
        }
      }

      .photo_0, .photo_1, .photo_2, .photo_3, .photo_4, .photo_5 {
        display: block;
      }

      &.photos_1 .photo {
        width: 100%;
        height: auto;
        margin: 0;
      }

      &.photos_2 .photo {
        width: calc(50% - #{$space}/2);
        height: $photo_height;
        margin: 0;

        &.photo_0 {
          margin-right: $space;
        }
      }

      &.photos_3 .photo {
        &.photo_0 {
          width: calc(62% - #{$space}/2);
          height: $photo_height;
          margin-right: $space;
        }

        &.photo_1, &.photo_2 {
          width: calc(38% - #{$space}/2);
          height: ($photo_height - $space)/2;
        }

        &.photo_1 {
          margin-bottom: $space;
        }
      }

      &.photos_4 .photo {
        &.photo_0 {
          width: calc(70% - #{$space}/2);
          height: $photo_height;
          margin-right: $space;
        }

        &.photo_1, &.photo_2, &.photo_3 {
          width: calc(30% - #{$space}/2);
          height: ($photo_height - 2 * $space) / 3;
        }

        &.photo_1, &.photo_2 {
          margin-bottom: $space;
        }
      }

      &.photos_5 .photo {
        &.photo_0 {
          width: calc(75% - #{$space}/2);
          height: $photo_height;
          margin-right: $space;
        }

        &.photo_1, &.photo_2, &.photo_3, &.photo_4 {
          width: calc(25% - #{$space}/2);
          height: ($photo_height - 3 * $space) / 4;
        }

        &.photo_1, &.photo_2, &.photo_3 {
          margin-bottom: $space;
        }
      }

      &.photos_6 .photo {
        &.photo_0 {
          width: calc(80% - #{$space}/2);
          height: $photo_height;
          margin-right: $space;
        }

        &.photo_1, &.photo_2, &.photo_3, &.photo_4, &.photo_5 {
          width: calc(20% - #{$space}/2);
          height: ($photo_height - 4 * $space) / 5;
        }

        &.photo_1, &.photo_2, &.photo_3, &.photo_4 {
          margin-bottom: $space;
        }
      }

      .caption {
        text-align: center;
        color: $color5;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
        padding-top: 15px;
        font-family: $family_open_sans;
      }

      @include desktop {
        .photo {
          &.photo_0 {
            width: calc(82% - #{$space}/2);
            height: $desktop_photo_height;
          }

          &.photo_1, &.photo_2, &.photo_3, &.photo_4, &.photo_5 {
            width: calc(18% - #{$space}/2);
            height: ($desktop_photo_height - 4 * $space) / 5;
          }
        }

        &.photos_1 .photo {
          width: 100%;
          height: auto;
        }

        &.photos_2 .photo {
          width: calc(50% - #{$space}/2);
          height: $desktop_photo_height;
        }

        &.photos_3 .photo {
          &.photo_0 {
            width: calc(62% - #{$space}/2);
            height: $desktop_photo_height;
          }

          &.photo_1, &.photo_2 {
            width: calc(38% - #{$space}/2);
            height: ($desktop_photo_height - $space)/2;
          }
        }

        &.photos_4 .photo {
          &.photo_0 {
            width: calc(75% - #{$space}/2);
            height: $desktop_photo_height;
          }

          &.photo_1, &.photo_2, &.photo_3 {
            width: calc(25% - #{$space}/2);
            height: ($desktop_photo_height - 2 * $space) / 3;
          }
        }

        &.photos_5 .photo {
          &.photo_0 {
            width: calc(80% - #{$space}/2);
            height: $desktop_photo_height;
          }

          &.photo_1, &.photo_2, &.photo_3, &.photo_4 {
            width: calc(20% - #{$space}/2);
            height: ($desktop_photo_height - 3 * $space) / 4;
          }
        }

        &.photos_6 .photo {
          &.photo_0 {
            width: calc(82% - #{$space}/2);
            height: $desktop_photo_height;
          }

          &.photo_1, &.photo_2, &.photo_3, &.photo_4, &.photo_5 {
            width: calc(18% - #{$space}/2);
            height: ($desktop_photo_height - 4 * $space) / 5;
          }
        }
      }
    }

    .dialogue {
      @include dialogue_font();

      .remark {
        margin: 30px 0;

        &.question {
          font-weight: $font-weight-bold;
        }

        img, span {
          display: inline-block;
          width: 32px;
          height: 32px;
          margin-right: 10px;
          @include border_radius(32px);
        }

        img {
          position: relative;
          bottom: -8px;
          object-fit: cover;
        }

        span {
          font-family: $family_open_sans;
          font-weight: $font-weight;
          color: white;
          line-height: 32px;
          text-align: center;
          text-transform: uppercase;
          background-color: $color3;


          &:before {
            content: attr(data-name);
          }
        }
      }
    }

    @include desktop {
      width: 600px;
      margin: 0 auto;

      & > p, h2, blockquote, ul, .lead, .phrase, .columns, .embed, .photos, .dialogue, .single_photo {
        width: 100%;
        margin: 50px 0;
        padding: 0;
      }

      & > p {
        @include text_font_desktop();
        padding: 0;
        margin: 25px 0;
      }

      h2 {
        @include header_font_desktop();
        margin-top: 75px;
      }

      ul {
        @include list_font_desktop();
        padding-left: 70px;

        li:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      blockquote {
        @include quote_font_desktop();
        margin-top: 50px;
        margin-bottom: 50px;

        &:not(.personal) > p {
          padding-left: 70px;
        }

        &.personal {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0;

          img {
            position: unset;
            min-width: 100px;
            width: 100px;
            height: 100px;
            @include border_radius(100px);
            object-fit: cover;
            margin-top: unset!important;
            margin-right: 65px;
          }
        }
      }

      .lead {
        @include lead_font_desktop();
      }

      .columns {
        @include columns_font_desktop();
        padding-top: 45px;

        .column:not(:first-child) {
          width: calc(62% - 30px);
          margin-left: 30px;
        }

        &:after {
          left: 0;
          width: 100%;
        }
      }

      .phrase {
        @include phrase_font_desktop();
        width: 67%;
        padding-top: 45px;
        padding-left: 33%;

        &:after {
          left: 33%;
          width: 67%;
        }
      }

      .dialogue {
        @include dialogue_font_desktop();
        margin: 45px 0;

        .remark {
          display: flex;
          flex-direction: row;

          span, img {
            min-width: 32px;
            display: block;
            margin-right: 15px;
            bottom: 0;
          }
        }
      }

    }
  }
}

.article__share {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $family_open_sans;
  background-color: $color4;
  padding: 50px 0 0 0;

  .article__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    color: $color;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    .article__avatar {
      width: 40px;
      height: 40px;
      object-fit: cover;
      @include border_radius(40px);
      margin-right: 20px;
    }

    .article__first_name {
      font-weight: $font-weight-bold;
      margin-right: 10px;
    }
  }

  .article__shares {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .article__share_btn {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      background-color: $color3;
      cursor: pointer;

      &:hover {
        background-color: $color;
      }

      &:not(:last-child) {
        margin-right: 1px;
      }

      svg {
        width: 35px;
        height: 35px;
        fill: white;
      }
    }
  }

  @include desktop {
    margin: 50px 0 0 0;
    padding: 50px 0;

    .article__shares {
      width: 600px;
      margin: 40px auto 0 auto;
    }
  }
}

.article__tools {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $color;

  svg {
    width: 30px;
    height: 30px;
    fill: white;

    &:not(:last-child) {
      margin-right: $margin;
    }
  }
}

.gallery_modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;

  .gallery_modal__header {
    height: 50px;
    letter-spacing: 1px;
    font-size: $font-size6;
    font-weight: $font-weight-bold;
    line-height: 50px;
    text-align: center;
    color: white;
  }

  .gallery_modal__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
  }

  .gallery_modal__image {
    flex: auto;
    width: 100%;
    background-size: contain!important;
  }

  .gallery_modal__caption {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $family_open_sans;
    font-size: $font-size6;
    color: white;
    text-align: center;
    line-height: 20px;
  }

  @include desktop {
    background-color: $color5;

    .gallery_modal__header {
      height: 64px;
      background-color: #282828;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      font-weight: $font-weight;

      .gallery_modal__prev, .gallery_modal__next {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: $family_open_sans;
        font-size: 10px;
        letter-spacing: 1px;
        color: white;
        text-transform: uppercase;
        line-height: 12px;
        margin: 0 30px;
        cursor: pointer;

        svg {
          fill: white;
          width: 30px;
          height: 30px;
        }

        &:hover {
          color: $color3;

          svg {
            fill: $color3;
          }
        }
      }

      .gallery_modal__prev svg {
        @include scale(-1, 1);
      }

      .gallery_modal__close {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        margin-left: 30px;
        margin-right: 30px;
        cursor: pointer;

        svg {
          width: 20px;
          height: 20px;
          fill: white;
        }

        &:hover svg {
          fill: $color3;
        }
      }


    }
    
    .gallery_modal__viewport {
      flex: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .gallery_modal__image {
        flex: unset;
        background-size: contain!important;
        width: 65%;
        height: 75vh;
      }

      .gallery_modal__image_prev, .gallery_modal__image_next {
        flex: unset;
        height: 75vh;
        width: 10%;
        background-size: cover!important;
        cursor: pointer;
        opacity: 0.75;

        &:hover {
          opacity: 1;
        }
      }

      .gallery_modal__image_prev {
        background-position: right!important;
      }

      .gallery_modal__image_next {
        background-position: left!important;
      }
    }
  }
}

.article__loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: $family_open_sans;
  letter-spacing: 2px;

  span {
    font-weight: $font-weight-bold;
    margin-right: 10px;
  }
}

.share_panel {
  @include transition(500ms);
  position: fixed;
  top: 10vh;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;

  &:not(.visible) {
    opacity: 0;
    top: 30vh;
  }

  a {
    @include border_radius(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: $color;
    margin-bottom: 20px;

    svg {
      width: 19px;
      heigth: 19px;
      fill: white;
    }
  }
}

.floating_panel {
  position: absolute;
  top: 0;
  right: 50px;
  width: 250px;
  min-height: 400px;

  &.pinned {
    position: fixed;
    top: 30px;
  }
}

.article__shares_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100%;
  background-color: $color;
  color: white;
  font-family: $family_open_sans;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;

  svg {
    width: 40px;
    height: 40px;
    fill: white;
    margin-right: 10px;
    margin-left: -40px;
  }
}

.share_popup {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 30px;

  .share_popup__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .share_popup__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;

    svg {
      width: 20px;
      height: 20px;
      fill: white;
    }
  }

  $button_size: 45px;

  .share_popup__item {
    display: flex;
    align-items: center;
    justify-content: center;
    @include border_radius($button_size);
    width: $button_size;
    height: $button_size;
    margin: 10px 15px;

    svg {
      width: 35px;
      height: 35px;
      fill: white;
    }

    &.share_popup__vk {background-color: #44678D;}
    &.share_popup__fb {background-color: #3A559F;}
    &.share_popup__twitter {background-color: #50ABF1;}
    &.share_popup__telegram {background-color: #61A8DE;}
    &.share_popup__whatsapp {background-color: #1BD741;}
    &.share_popup__viber {background-color: #7D3DAF;}
  }
}

.ad {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color3;
  margin: 0 auto;
  overflow: hidden;

  &:before {
    content: 'Реклама';
    position: absolute;
    color: $color5;
    font-size: 12px;
    text-transform: uppercase;
    z-index: -1;
  }
}

.ad_728x90 {
  width: 728px;
  margin-left: -64px;
}

.ad_x250 {
  width: 100%;
  height: 250px;
}

.ad_250x400 {
  width: 250px;
  height: 400px;
}

.ad_300x250 {
  width: 300px;
  height: 250px;
}

.ad_728x90, .ad_250x400 {
  display: none;
}


@include desktop {
  .ad_728x90, .ad_250x400 {
    display: flex;
  }
  .ad_300x250, .ad_x250 {
    display: none;
  }
}

@include small_desktop {
  .ad_250x400 {
    display: none;
  }
}