@import "contstants";
@import "mixins";

.article {
  width: 100%;
  font-family: $family_noto;
  font-size: $font-size;

  .article__title {
    position: relative;
    width: 100%;
    padding: 80px 0;
    background-size: cover!important;
    text-align: center;
    background-color: $color4;

    .article__author {
      display: block;
      position: absolute;
      width: calc(100% - 60px);
      height: 20px;
      top: 30px;
      text-align: center;
      font-size: 12px;
      line-height: 14px;
      font-family: $family_open_sans;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
      color: $color;
      cursor: pointer;

      .article__first_name {
        font-weight: $font-weight-bold;
        margin-right: 10px;
      }
    }

    h1 {
      position: relative;
      font-family: $family_arimo;
      font-size: 33px;
      font-weight: $font-weight-bold;
      line-height: 43px;
    }

    .article__stats {
      position: absolute;
      width: calc(100% - 60px);
      bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color;
    }

    .article__date, .article__views {
      letter-spacing: 1px;
      text-align: center;
      font-size: 12px;
      font-family: $family_open_sans;
      line-height: 14px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    .article__views {
      display: flex;
      align-items: center;

      svg {
        width: 18px;
        height: 18px;
        fill: transparent;
        stroke: $color;
        stroke-width: 4px;
        margin-right: 10px;
      }
    }

    &.inverted {
      color: white;

      &:before {
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .article__stats {
        color: white;

        svg {
          stroke: white;
        }
      }

      .article__author {
        color: white
      }
    }

    @include desktop {
      padding: 120px 0;
      margin-bottom: 30px;

      h1 {
        width: 600px;
        font-size: 40px;
        line-height: 51px;
        margin: 0 auto;
      }
    }
  }

  .article__content {

    & > p, h2, blockquote, ul, .lead, .phrase, .columns, .embed, .photos, .dialogue, .single_photo {
      padding: $padding/2 $padding;
    }

    iframe {
      width: 100%;
    }

    h2 {
      font-family: $family_arimo;
      font-size: 24px;
      font-weight: $font-weight-bold;
      line-height: 35px;
      margin-top: 20px;
    }

    & > p {
      line-height: 29px;
    }

    ul {
      list-style: disc outside;
      font-size: 18px;
      line-height: 29px;

      li {
        margin-left: 15px;
        padding-left: 5px;
      }
    }

    blockquote {
      position: relative;
      font-family: $family_arimo;
      font-size: 17px;
      line-height: 26px;

      & > p:before {
        content: '';
        display: inline-block;
        background: url('../assets/images/pub_quote.svg') no-repeat center center;
        background-size: 36px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-bottom: -5px;
      }

      &.personal {
        margin-top: 35px + $padding;
        padding-top: 40px;

        img {
          position: absolute;
          width: 70px;
          height: 70px;
          top: -35px;
          left: calc(50% - 35px);
          @include border_radius(70px);
          object-fit: cover;
        }
      }
    }

    a, a:visited {
      color: $color;
      font-weight: $font-weight-bold;
    }

    strong {
      font-weight: $font-weight-bold;
    }

    em {
      font-style: italic;
    }

    .lead {
      font-family: $family_arimo;
      font-size: 19px;
      font-weight: $font-weight-bold;
      line-height: 27px;
    }

    .columns {
      display: flex;
      position: relative;
      font-size: 16px;
      line-height: 27px;
      padding-top: 45px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        width: calc(100% - 60px);
        height: 3px;
        background-color: $color;
      }

      .column {
        height: 100%;
      }

      .column:first-child {
        width: 38%;

        img {
          width: 100%;
          margin-top: 7.5px;
        }
      }

      .column:not(:first-child) {
        width: calc(62% - #{$margin});
        margin-left: $margin;
      }
    }

    .phrase {
      position: relative;
      font-family: $family_arimo;
      font-size: 20px;
      font-weight: $font-weight-bold;
      line-height: 30px;
      text-align: right;
      padding-top: 45px;
      padding-left: 25%;

      &:after {
        content: '';
        position: absolute;
        top: 30px;
        left: 25%;
        width: calc(75% - 30px);
        height: 4px;
        background-color: $color;
      }
    }

    .embed {
      &.video {
        visibility: hidden;
      }
    }

    .single_photo {
      img {
        width: 100%;
        height: auto;
      }

      .caption {
        text-align: center;
        color: $color5;
        font-size: 12px;
        line-height: 24px;
      }
    }

    .photos {
      padding: $padding;

      .photo {
        width: calc(100% - 10px);
        height: 100px;
        object-fit: cover;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;

        &.photo_0 {
          height: 200px;
        }

        &.photo_1, &.photo_2, &.photo_3, &.photo_4, &.photo_5 {
          width: calc(50% - 10px);
        }

        &.photo_1 {
          height: 200px + 10px;
        }

        @include desktop {
          width: calc(100% - 20px);
          height: 200px;
          margin-right: 20px;
          margin-bottom: 20px;

          &.photo_0 {
            height: 400px;
          }

          &.photo_1, &.photo_2, &.photo_3, &.photo_4, &.photo_5 {
            width: calc(50% - 20px);
          }

          &.photo_1 {
            height: 400px + 20px;
          }
        }
      }
    }

    .dialogue {
      font-size: 18px;
      line-height: 31px;

      .remark {
        margin: 30px 0;

        &.question {
          font-weight: $font-weight-bold;
        }

        img, span {
          display: inline-block;
          width: 32px;
          height: 32px;
          margin-right: 10px;
          @include border_radius(32px);
        }

        img {
          position: relative;
          bottom: -8px;
          object-fit: cover;
        }

        span {
          font-family: $family_open_sans;
          font-weight: $font-weight;
          color: white;
          line-height: 32px;
          text-align: center;
          text-transform: uppercase;
          background-color: $color3;


          &:before {
            content: attr(data-name);
          }
        }
      }
    }

    @include desktop {
      width: 600px;
      margin: 0 auto;

      & > p, h2, blockquote, ul, .lead, .phrase, .columns, .embed, .photos, .dialogue, .single_photo {
        width: 100%;
        margin: 30px 0;
        padding: 0;
      }

      & > p {
        padding: 0;
        margin: 15px 0;
      }

      h2 {
        font-size: 34px;
        line-height: 46px;
        margin-top: 45px;
      }

      ul {
        font-family: $family_open_sans;
        font-size: 20px;
        font-weight: $font-weight-bold;
        line-height: 34px;
        padding-left: 50px;

        li:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      .lead {
        font-size: 24px;
        line-height: 36px;
      }

      .columns {
        padding-top: 45px;
        font-size: 18px;
        line-height: 29px;

        .column:not(:first-child) {
          width: calc(62% - 30px);
          margin-left: 30px;
        }

        &:after {
          left: 0;
          width: 100%;
        }
      }

      .phrase {
        width: 75%;
        font-size: 26px;
        line-height: 39px;
        padding-top: 45px;
        padding-left: 25%;

        &:after {
          width: 75%;
        }
      }

      .dialogue {
        margin: 45px 0;

        .remark {
          display: flex;
          flex-direction: row;

          span {
            min-width: 32px;
            display: block;
            margin-right: 15px;
          }
        }
      }

    }
  }
}

.article__share {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $family_open_sans;
  background-color: $color4;
  padding: $padding 0;

  .article__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: $color;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    .article__avatar {
      width: 35px;
      height: 35px;
      object-fit: cover;
      @include border_radius(35px);
      margin-right: 20px;
    }

    .article__first_name {
      font-weight: $font-weight-bold;
      margin-right: 10px;
    }
  }

  .article__shares {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .article__share_btn {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      background-color: $color3;
      cursor: pointer;

      &:hover {
        background-color: $color5;
      }

      &:not(:last-child) {
        margin-right: 1px;
      }

      svg {
        width: 40px;
        height: 40px;
        fill: white;
      }
    }
  }

  @include desktop {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.article__tools {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $color;

  svg {
    width: 30px;
    height: 30px;
    fill: white;

    &:not(:last-child) {
      margin-right: $margin;
    }
  }
}

.gallery_modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;

  .gallery_modal__header {
    height: 50px;
    letter-spacing: 1px;
    font-size: $font-size6;
    font-weight: $font-weight-bold;
    line-height: 50px;
    text-align: center;
    color: white;
  }

  .gallery_modal__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
  }

  .gallery_modal__image {
    flex: auto;
    width: 100%;
    background-size: contain!important;
  }

  .gallery_modal__caption {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $family_open_sans;
    font-size: $font-size6;
    color: white;
    text-align: center;
    line-height: 20px;
  }

  @include desktop {
    background-color: $color5;


  }
}

.article__loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: $family_open_sans;
  letter-spacing: 2px;

  span {
    font-weight: $font-weight-bold;
    margin-right: 10px;
  }
}