@import "contstants";
@import "mixins";

.article_feed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .banner_side__container {
        display: none;
        position: absolute;
        top: 450px;
        left: calc(50vw + 285px);
        height: calc(100% - 450px);

        &.more_offset {
            top: 520px;
        }

        .banner {
            position: sticky;
            top: 50px;
        }

        @include regular_desktop {
            display: block;
        }
    }

}