@import "contstants";
@import "reset";

html, body {
  height: 100%;
}

body {
  position: relative;
  @include transition(200ms);
}

html {
	color: $color;
    font-family: $family_open_sans;
	font-size: $font-size;
	line-height: $line-height;
}

@media (min-width: 600px) {
  .content {
    //width: 600px;
    margin: 0 auto;
  }
}

::-moz-selection {
  color: white; background: $color;
}

::selection {
  color: white; background: $color;
}