@import "mixins";
// @import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Noto+Serif:400,700|Open+Sans:400,700&subset=cyrillic');

$margin: 15px;
$padding: 30px;

$basic_mobile_offset: 18px;
$basic_desktop_offset: 30px;

$color: #333333;
$color1: #0c0c0c;
$color3: #CCCCCC;
$color4: #EBEBEB;
$color5_1: #252525;
$color6_1: #7F7F7F;

$color-accent: #FF3333;
$color5: #7F7F7F;
$color7: #BCBCBC;
$color8: #282828;
$color9: #F7F7F7;

// FONTS
$family_arimo: 'Arimo';
$family_noto: 'Noto Serif';
$family_open_sans: 'Open Sans';

$font-size: 18px;
$font_size1: 25px;
$font_size2: 26px;
$font_size3: 16px;
$font_size4: 20px;
$font_size5: 12px;
$font_size6: 14px;

$font-size-small: 10px;
$font-size-small1: 11px;
$font-size-small2: 12px;
$font-size-smaller: 8px;

$line-height: 29px;
$line-height1: 32px;
$line-height2: 39px;
$line-height3: 27px;
$line-height4: 30px;

$font-weight: 400;
$font-weight-bold: 700;

$header-height: 35px;
$profile-avatar-side-size: 60px;

// ARTICLE CONTENT CONSTANTS

@mixin title_font_large() {
  @include font(40px, $font-weight-bold, $family_arimo, 135%)
}

@mixin title_font() {
  @include font(22px, $font-weight-bold, $family_arimo, 135%)
}

@mixin header_font() {
  @include font(22px, $font-weight-bold, $family_arimo, 125%)
}

@mixin lead_font() {
  @include font(18px, $font-weight-bold, $family_arimo, 140%)
}

@mixin text_font() {
  @include font(15px, $font-weight, $family_noto, 160%)
}

@mixin quote_font() {
  @include font(15px, $font-weight, $family_noto, 160%)
}

@mixin quote_font_small() {
  @include font(12px, $font-weight, $family_noto, 160%)
}

@mixin phrase_font_large() {
  @include font(18px, $font-weight-bold, $family_arimo, 150%)
}

@mixin phrase_font() {
  @include font(15px, $font-weight-bold, $family_arimo, 150%)
}

@mixin phrase_font_small() {
  @include font(13px, $font-weight-bold, $family_arimo, 150%)
}

@mixin columns_font() {
  @include font(12px, $font-weight, $family_noto, 160%)
}

@mixin columns_font_small() {
  @include font(10px, $font-weight, $family_noto, 160%)
}

@mixin dialogue_font() {
  @include font(15px, $font-weight, $family_noto, 160%)
}

@mixin list_font() {
  @include font(17px, $font-weight, $family_arimo, 160%)
}

// desktop

@mixin title_font_desktop_large() {
  @include font(80px, $font-weight-bold, $family_arimo, 135%)
}

@mixin title_font_desktop() {
  @include font(43px, $font-weight-bold, $family_arimo, 135%)
}

@mixin title_font_desktop_small() {
  @include font(33px, $font-weight-bold, $family_arimo, 135%)
}

@mixin title_font_desktop_small() {
  @include font(30px, $font-weight-bold, $family_arimo, 135%)
}

@mixin header_font_desktop() {
  @include font(30px, $font-weight-bold, $family_arimo, 125%)
}

@mixin lead_font_desktop() {
  @include font(20px, $font-weight-bold, $family_arimo, 150%)
}

@mixin text_font_desktop() {
  @include font(18px, $font-weight, $family_noto, 160%)
}

@mixin quote_font_desktop() {
  @include font(18px, $font-weight, $family_noto, 160%)
}

@mixin quote_font_desktop_small() {
  @include font(16px, $font-weight, $family_noto, 160%)
}

@mixin phrase_font_desktop_large() {
  @include font(30px, $font-weight-bold, $family_arimo, 150%)
}

@mixin phrase_font_desktop() {
  @include font(23px, $font-weight-bold, $family_arimo, 150%)
}

@mixin phrase_font_desktop_small() {
  @include font(19px, $font-weight-bold, $family_arimo, 150%)
}

@mixin columns_font_desktop() {
  @include font(18px, $font-weight, $family_noto, 160%)
}

@mixin columns_font_desktop_small() {
  @include font(16px, $font-weight, $family_noto, 160%)
}

@mixin dialogue_font_desktop() {
  @include font(18px, $font-weight, $family_noto, 160%)
}

@mixin list_font_desktop() {
  @include font(20px, $font-weight, $family_arimo, 160%)
}






