@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Noto+Serif:400,700|Open+Sans:400,700&subset=cyrillic');

$margin: 15px;
$padding: 30px;

$color: #333333;
$color1: #0c0c0c;
$color3: #CCCCCC;
$color4: #EBEBEB;

// FONTS
$family_arimo: 'Arimo';
$family_noto: 'Noto Serif';
$family_open_sans: 'Open Sans';

$font-size: 18px;
$font_size1: 25px;
$font_size2: 26px;
$font_size3: 16px;
$font_size4: 20px;
$font_size5: 12px;
$font_size6: 14px;

$line-height: 29px;
$line-height1: 32px;
$line-height2: 39px;
$line-height3: 27px;
$line-height4: 30px;

$font-weight: 400;
$font-weight-bold: 700;