@import "contstants";
@import "mixins";

.editor__wrapper {
  display: flex;
  flex-direction: column;
}

.editor__content {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  $font-size: 32px;
  font-size: $font-size;
  &.empty:after {
    font-size: $font-size;
  }
}

.add_content_help {
  padding: $padding;
  margin-top: $margin;
  font-family: $family_open_sans;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: $color5;
  letter-spacing: 1px;
}

.editor__wrapper .base_content_block:last-child {
  padding-bottom: 25px + $padding!important;
}

.editor__publish {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: $color;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: $color4;
  font-size: 10px;
  z-index: 10;
  margin: $margin;
  cursor: pointer;

  &.disabled {
    opacity: 0.3;
    cursor: default;
  }

  &:not(.disabled):hover {
    background-color: $color;
    color: white;
  }
}

.tools_panel {
  position: fixed;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  $size: 50px;

  .tools_panel__item {
    position: relative;
    width: $size;
    height: $size;
    margin-bottom: 10px;

    .tools_panel__icon {
      @include border_radius($size);
      display: flex;
      align-items: center;
      justify-content: center;
      width: $size;
      height: $size;
      cursor: pointer;
      background-color: white;
      text-decoration: none;

      svg {
        width: $size;
        height: $size;
        fill: $color;
      }
    }

    .tools_panel__caption {
      @include transition();
      @include border_radius($size/2);
      position: absolute;
      top: $size/4;
      right: $size + 10px;
      height: $size/2;
      font-size: 12px;
      line-height: $size/2;
      font-family: $family_open_sans;
      text-align: center;
      opacity: 0;
      background-color: $color3;
      padding: 0 10px;
    }

    &:hover {
      .tools_panel__icon {
        background-color: $color3;
      }

      .tools_panel__caption {
        opacity: 1;
      }
    }
  }
}

@include desktop {
  .add_content_help {
    margin-top: 50px;
  }

  .editor__publish {
    width: 600px;
    margin: 0 auto 64px auto;
    font-size: 15px;
    height: 64px;
  }
}