@import "contstants";

.title {
  $font-size: 32px;
  font-size: $font-size;
  &.empty:after {
    font-size: $font-size;
  }
}

.add_content_help {
  color: $color3;
  letter-spacing: 1px;
  text-align: center;
  padding: $padding;
  margin-top: $margin;
  margin-bottom: 50px;
}

.editor__wrapper .base_content_block:last-child {
  padding-bottom: 25px + $padding!important;
}