@import "contstants";
@import "mixins";


#main_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);

  .menu__controls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    padding: $padding - 10px $padding/2;

    $svg-size: 35px;

    div {
      margin-left: 5px;
    }

    svg {
      width: $svg-size;
      height: $svg-size;
      fill: #FFFFFF;
    }

  }

  .menu__user {
    background-color: $color5;

    padding: $padding 0 $padding/2 0;

    $avatar-size: 78px;

    .menu__user_avatar img {
      width: $avatar-size;
      height: $avatar-size;

      @include border_radius($avatar-size);
    }

    .menu__user_username {
      padding: $padding 0 $padding/2 0;
      font-size: $font-size;

      span {
        padding: 0 5px;
        font-weight: $font-weight;
      }

      span:first-child {
        font-weight: $font-weight-bold;
      }
    }
  }

  .menu__user_avatar, .menu__user_username, .menu__link, .menu__notifications, .menu__login_title, .menu__login_title, .menu__about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    color: #FFFFFF;
    text-transform: uppercase;
    box-sizing: border-box;
  }

  .menu__links {
    background-color: $color;
    padding: $padding 0;
    .menu__link {
      font-size: $font-size-small;
      letter-spacing: 1px;
      padding: $padding * 2/3 0;
    }
  }

  .menu__notifications {

    flex-wrap: nowrap;
    background-color: $color5;
    padding: $padding - 5px $padding;
    border-top: 3px solid $color;
    justify-content: flex-start;

    .menu__notifications_icon {
      position: relative;
      margin-right: $margin;


      svg {
        width: 40px;
        height: 40px;
        fill: #FFFFFF;
      }

      .menu__notifications_count {
        $count-size: 20px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: $font-size-small;
        width: $count-size;
        height: $count-size;
        line-height: $count-size;
        text-align: center;
        @include border_radius($count-size);
        color: #FFFFFF;
        font-weight: $font-weight-bold;
        background-color: $color-accent;

      }

    }

    .menu__notifications_text {
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      font-size: $font-size-small;
      text-transform: none;
      letter-spacing: 1px;
      line-height: 12px;
      max-height: 24px;
      overflow: hidden;

      width: 100%;
      box-sizing: border-box;

    }
  }


}