@mixin border_radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($duration: 100ms, $type: ease-out, $delay: 0s) {
  -webkit-transition: $duration $type;
  -moz-transition: $duration $type;
  -o-transition: $duration $type;
  transition: $duration $type;
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin scale($x, $y) {
  -webkit-transform: scale($x, $y);
  -moz-transform: scale($x, $y);
  -ms-transform: scale($x, $y);
  -o-transform: scale($x, $y);
  transform: scale($x, $y);
}

@mixin box_shadow($radius: 10px, $color: rgba(0, 0, 0, 0.5), $hshift: 0px, $vshift: 0px) {
  -webkit-box-shadow: $hshift $vshift $radius 0px $color;
  -moz-box-shadow: $hshift $vshift $radius 0px $color;
  box-shadow: $hshift $vshift $radius 0px $color;
}