@mixin border_radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($duration: 100ms, $type: ease-out, $delay: 0s) {
  -webkit-transition: $duration $type;
  -moz-transition: $duration $type;
  -o-transition: $duration $type;
  transition: $duration $type;
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin scale($x, $y) {
  -webkit-transform: scale($x, $y);
  -moz-transform: scale($x, $y);
  -ms-transform: scale($x, $y);
  -o-transform: scale($x, $y);
  transform: scale($x, $y);
}

@mixin box_shadow($radius: 10px, $color: rgba(0, 0, 0, 0.5), $hshift: 0px, $vshift: 0px) {
  -webkit-box-shadow: $hshift $vshift $radius 0px $color;
  -moz-box-shadow: $hshift $vshift $radius 0px $color;
  box-shadow: $hshift $vshift $radius 0px $color;
}

@mixin no_select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin placeholder ($font, $size, $weight, $color) {
  ::-webkit-input-placeholder {font-family: $font; color:$color!important; font-weight: $weight; font-size: $size}
  ::-moz-placeholder          {font-family: $font; color:$color!important; font-weight: $weight; font-size: $size}
  :-moz-placeholder           {font-family: $font; color:$color!important; font-weight: $weight; font-size: $size}
  :-ms-input-placeholder      {font-family: $font; color:$color!important; font-weight: $weight; font-size: $size}
}

//@mixin box_shadow($radius, $color: rgba(0, 0, 0, 0.5)) {
//  -webkit-box-shadow: 0px 0px $radius 0px $color;
//  -moz-box-shadow: 0px 0px $radius 0px $color;
//  box-shadow: 0px 0px $radius 0px $color;
//}

@mixin input-range-track ($bg-color, $width, $height, $border, $border-radius) {

  -webkit-appearance: none;

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: $bg-color;
    width: $width;
    height: $height;
    border: $border;
    border-radius: $border-radius;
  }

  &:focus {
    outline: none;
  }

  &:focus::-webkit-slider-runnable-track {
    background-color: $bg-color;
  }

  &::-moz-range-track {
    background-color: $bg-color;
    width: $width;
    height: $height;
    border: $border;
    border-radius: $border-radius;
  }

  &:-moz-focusring {
    outline: none;
  }

  &:focus::-moz-range-track {
    background-color: $bg-color;
  }

  &::-ms-track {
    background-color: $bg-color;
    width: $width;
    height: $height;
    border: $border;
    border-radius: $border-radius;
  }

}

@mixin input-range-thumb ($bg-color, $width, $height, $border-radius, $chrome-margin-top) {
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: $chrome-margin-top;
    border: none;
    background: $bg-color;
    //background-color: $bg-color;
    width: $width;
    height: $height;
    @include border_radius($border-radius);
  }

  &::-moz-range-thumb {
    border: none;
    background-color: $bg-color;
    width: $width;
    height: $height;
    @include border_radius($border-radius);
  }

  &::-ms-thumb {
    background-color: $bg-color;
    width: $width;
    height: $height;
    @include border_radius($border-radius);
  }



}