@import "contstants";
@import "mixins";


#profile_management {

  .profile__avatar {
    cursor: pointer;
  }

  div {
    box-sizing: border-box;
  }

  .profile__username, .profile__avatar, .profile__username>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .profile__username .name {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
  }

  .profile__avatar {
    margin-top: $margin * 2;
  }

  .profile__username {
    width: 100%;
    padding: $padding/2 ;
    div {
      word-break: break-all;
    }

    span {
      padding: 5px;
      display: flex;
      align-items: center;
    }

    svg {
      width: 25px;
      height: 25px;
      fill: $color;
      cursor: pointer;
    }


    form {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    input {
      outline: none;
      padding: 0;
      margin: 0;
      border: none;
      font-size: 18px;
      text-align: center;
      background-color: transparent;

      &.error {
        border-bottom: 1px solid $color-accent;
      }
    }

    .editable {
      display: inline;
    }
  }

  .profile__menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: flex-start;

    .profile__menu_section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: $padding/2;
      border-bottom: 2px solid $color3;
      cursor: pointer;
      @include transition();

      svg {
        cursor: pointer;
        width: 25px;
        height: 25px;
        fill: $color;
      }

      span {
        padding-left: $padding/3;
        display: none;
        text-transform: uppercase;
        font-size: $font-size-small;
        letter-spacing: 1px;
      }

      &.active {
        border-bottom: 3px solid $color;
        flex-grow: 1;
        cursor: default;
        span {
          display: block;
        }
      }
    }
  }

  .profile__section {
    width: 100%;

    .profile__link_input {
      display: none;
    }

    .link_add_text {
      padding: $padding $padding $padding/2 $padding;
      color: $color3;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 14px;
      text-align: center;
    }

    .profile__add_link {
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: $margin $margin * 2;

      .line {
        position: absolute;
        left: 0;
        top: 50%;
        background-color: $color3;
        height: 1px;
        width: 100%;
        min-width: 100%;
      }
      .button {
        $button-size: 35px;
        width: $button-size;
        height: $button-size;
        @include border_radius($button-size);
        color: #FFFFFF;
        background-color: $color5_1;
        line-height: 35px;
        z-index: 2;
        cursor: pointer;

      }
    }

    .profile__phone {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      padding: $padding/2 $padding;

      .profile__phone_caption, .profile__phone_data .data_change {
        font-size: $font-size-smaller;
        letter-spacing: 1px;
        font-family: $family-open-sans;
      }

      .profile__phone_caption {
        padding-bottom: $padding/2;
      }

      .profile__phone_data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .data_value {
          font-size: 12px;
          letter-spacing: 1px;
        }

        .data_change {
          text-transform: uppercase;
          cursor: pointer;
          text-decoration: underline;

          svg {
            fill: $color;
            width: 25px;
            height: 25px;
            display: none;
          }
        }
      }
    }

    .profile__auth_link {
      padding-top: $padding/2;
      background-color: $color4;
      .auth_link_text {
        display: flex;
        flex-direction: row;
      }

    }


    .profile__link {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      max-width: 100%;

      padding: $padding/2 $padding;

      div {
        padding: 0 0 0 $padding/3;
      }
      div:first-child {
        padding: 0;
      }

      .url {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $font-size-small1;
        height: 22px;
        line-height: 22px;
      }

      svg {
        fill: #000000;
        width: 18px;
        height: 18px;
        cursor: pointer;
      }

      .close_icon svg {
        width: 10px;
        height: 10px;
        stroke: #000000;
      }
    }

    .profile__auth_link .profile__link {
      padding-right: $padding - 5px;
      .eye svg {
        width: 24px;
        height: 24px;
      }
    }

    .link_text {
      padding: $padding/2 $padding;
      text-transform: uppercase;
      font-size: $font-size-smaller;
      letter-spacing: 1px;
    }
  }



  .profile__notification {
    margin: 0 $margin * 2;
    padding: $padding * 2/3 5px;
    border-bottom: 1px solid $color3;

    .time {
      font-size: $font-size-small;
      color: $color6_1;
      line-height: 14px;
    }

    .text {
      font-size: $font-size-small2;
      letter-spacing: 1px;
      line-height: 18px;
    }
  }

  .profile__notification:first-child {
    padding-top: $padding;
  }

  .profile__notification:last-child {
    border-bottom: none;
  }

  .load_more {
    padding: 10px 0;
    text-align: center;
    margin: $margin 0;
    background-color: $color4;
    cursor: pointer;
    color: $color3;
  }

  .profile__subscriptions {
    display: block;
    padding-top: 15px;

    .filter_input {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      $input_height: 50px;

      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: $input_height;
      padding: 0;
      background-color: $color;

      input {
        background-color: transparent;
        outline: none;
        height: $input_height;
        text-align: center;
        padding: 0;
        margin: 0;
        border:none;
        font-size: $font_size6;
        color: #FFFFFF;
        font-weight: 300;
        font-family: $family_open_sans;

      }

    }
  }
  .profile__subscription {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: $padding/3 $padding;
    align-items: center;

    text-decoration: none;

    $avatar-size: 34px;

    .avatar {
      img {
        width: $avatar-size;
        height: $avatar-size;

        @include border_radius($avatar-size);

      }
    }

    .name {
      overflow: hidden;
      flex-grow: 1;
      font-size: $font-size-small;
      text-transform: uppercase;
      word-spacing: 10px;
      justify-content: flex-start;
      padding: 0 $padding/2;
      letter-spacing: 1px;
      span:first-child {
        font-weight: $font-weight-bold;
        padding-right: $padding/3;
      }
      a {
        color: $color;
        text-decoration: none;
      }
    }
  }

  .close_icon svg {
    width: 10px;
    height: 10px;
    fill: #000000;
    stroke: #000000;
  }

}

.add_link_modal {
  position: relative;
  color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;

  .button.exit svg, .button.submit svg {
    width: 45px;
    height: 45px;
    cursor: pointer;
  }

  .button.exit svg, .button.submit.active svg {
    fill: #FFFFFF;
  }

  .button.submit svg {
      fill: $color6_1
  }

  .button {
    position: absolute;
    padding: $padding/2 $padding $padding $padding;
    width: 100%;
    box-sizing: border-box;
  }

  .button.exit {
    top: 0;
  }

  .button.submit {
    bottom: 0;
    text-align: center;
  }


  .link_form {
    //position: absolute;
    //top: 50%;
    text-align: center;
    width: 100%;

    form, .message {
      padding: $padding/4 $padding;
    }

    form {
      @include placeholder($family_open_sans, $font-size6, $font-weight, #FFFFF);
    }

    form input {
      width: 100%;
      text-align: center;
      border: none;
      border-bottom: 1px solid #FFFFFF;
      outline: none;
      padding: 0 0 5px 0;
      color: #FFFFFF;
      font-size: $font_size6;
      margin: 0;
      background-color: transparent;

      @include placeholder($family_open_sans, $font-size6, $font-weight, #FFFFF);

    }

    .message {
      font-size: $font-size-small;
      text-transform: uppercase;
      font-family: $family-open-sans;
    }

    &.error {
      .message {
        color: $color-accent;
      }
      input {
        border-color: $color-accent;
      }

    }

  }

}

@media (min-width: 1024px) {
  .content {
    //display: flex;
    //justify-content: center;
    width: unset;
  }

  #profile_management {

    width: 100%;
    //margin: auto;
    display: flex;
    flex-direction: row;

    .profile__management_head {
      background-color: #F7F7F7;
      width: 400px;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }

    .profile__management_filler {
      width: 400px;
      min-width: 400px;
    }

    .header {
      display: none;
    }

    .profile__avatar {
      margin-top: 70px;
      padding: $padding/2;
      img {
        width: 95px;
        height: 95px;
        border-radius: 50%;
      }
    }

    .profile__username {
      padding: 0;
      span {
        padding: 0;
        margin: 0 5px;
      }
      span, input {
        font-size: 20px;
      }

      svg {
        width: 25px;
        height: 25px;
      }

    }

    .profile__menu {

      //display: none;
      flex-direction: column;

      .profile__menu_section {
        //flex-grow: 1;
        width: 100%;
        justify-content: center;
        border-bottom: 1px solid $color4;


        &:last-child {
          border: none;
        }

        span {
          width: 120px;
          font-size: 11px;
          letter-spacing: 1px;
          margin-left: 20px;
          display: block;
        }
        &:hover {
          background-color: $color4;
        }

        &.active, &.active:hover {
          border: none;
          background-color: #FFFFFF;
        }
      }
    }

    .profile__section {

      margin-top: $margin * 2;
      padding: 0 $padding;
      //width: unset;
      max-width: 800px;

      .profile__phone {
        flex-direction: row;
        align-items: center;
        max-width: 500px;
        margin: 0 0 0 40px;
        padding: $padding 0;

        &:first-child {
          margin-top: $margin;
        }

        .profile__phone_caption {
          width: 50%;
        }

        .profile__phone_caption {
          padding: 0;
          font-size: $font-size-small;
        }

        .profile__phone_data {
          width: 35%;
          .data_value {
            font-size: $font-size6;
          }

          .data_change {
            svg {
              display: block;
            }
            span {
              display: none;
            }
          }
        }
      }

      .profile__notification {
        min-height: 120px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        //margin: $margin 15%;


        .time {
          font-size: 11px;
          letter-spacing: 1px;
        }

        .text {
          font-size: 15px;
          line-height: 17px;
          letter-spacing: 1px;
        }
      }

      .profile__auth_link {
        border-bottom: 1px solid $color3;
      }

      .profile__auth_link, .profile__additional_links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        //padding-left: 40px;
        padding: 0;
        background-color: transparent;

        .link_text {
          font-size: $font-size-small;
          padding: $padding / 2;
          width: 200px;
        }
        .url {
          font-size: $font_size6;
          width: 250px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .profile__link {
          padding: $padding / 2;
          svg {
            width: 25px;
            height: 25px;
          }
          .close_icon svg {
            width: 10px;
            height: 10px;
          }

          .eye, .close_icon {
            width: 50px;
            text-align: center;
          }
        }
      }

      .profile__auth_link {
        align-items: center;
        height: 100px;
        margin-bottom: $margin;
      }
      .profile__additional_links {
        align-items: flex-start;
      }

      .profile__link_input.active {
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        height: 100px;
        position: relative;
        padding-bottom: $padding/2;

        form {
          width: 100%;
        }
        form input {
          width: 80%;
          text-align: center;
          border: none;
          padding: 0;
          margin: 0;
          outline: none;
          font-size: 15px;
          line-height: 25px;

          &.error {
            border-bottom: 1px solid $color-accent;
          }
        }

        .close {
          position: absolute;
          top: $margin;
          right: $margin;
          cursor: pointer;
          svg {
            fill: $color3;
          }
        }
      }

      .profile__add_link {
        display: none;
        margin: $margin 0;

        &.active, &.phone {
          display: flex;
        }
      }
    }

    .profile__subscriptions {
      padding: $padding;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 800px;

      .profile__subscription {
        width: 80%;
        .name {
          font-size: $font-size6;
        }
      }

      .filter_input {
        position: relative;
        background-color: transparent;
        border-bottom: 1px solid $color4;
        height: 70px;
        margin-bottom: $margin * 2;
        input {
          color: $color;
        }
      }
    }

  }


}
