@import "contstants";
@import "mixins";

$avatar-side-size: 60px;

#profile_content {
  display: flex;
  flex-direction: column;

  //margin-top: $header-height + $avatar-side-size/2 + $margin;

  .profile__header {
    background-color: $color;
    height: $header-height;
    min-width: 100%;

  }


  .profile__avatar, .profile__username, .profile__social_links, .profile__subscription {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .profile__avatar {

    padding: $padding/2 0;
    margin: $margin 0;
  }

  .profile__username {

    margin-bottom: $margin;
    padding: 0 $padding;
    box-sizing: border-box;
    span {
      display: inline-block;
      text-align: center;
      margin: 0 5px;
    }
  }

  .profile__subscription {

    height: 45px;

    margin-bottom: $margin;

    a {
      text-decoration: none;
    }

    .profile__subscription_info {
      background-color: $color4;
      width: 180px;
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;

      &:hover {
        background-color: $color3;
      }
    }

    .profile__subscription_subscribe, .profile__subscription_unsubscribe, .profile__subscription_info {
      display: flex;
      flex-direction: row;

      align-items: center;
      justify-content: center;

      color: $color;
      text-transform: uppercase;
      font-size: $font-size-small;
      letter-spacing: 1px;
      margin: 0 $margin/2;
      cursor: pointer;

      svg {
        width: 25px;
        height: 25px;
        fill: $color;
      }
      span {
        margin: 0 5px;
      }
    }

    .profile__subscription_info {
      position: relative;

      svg {
        position: absolute;
        left: 5px;
      }
    }

    .profile__subscription_subscribe {
      background-color: $color4;
    }

    .profile__subscription_subscribe, .profile__subscription_unsubscribe {
      padding: 10px;
    }
  }

  .profile__social_links {
    $link-size: 30px;

    margin-bottom: $margin;

    .profile__social_icon {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      width: $link-size;
      height: $link-size;

      cursor: pointer;
      background-color: $color4;
      @include border-radius($link-size);

      margin: 0 5px;

      svg {
        width: $link-size - 7px;
        height: $link-size - 7px;
        fill: $color;
      }
    }
  }

  .profile__articles {
    padding: 0 $padding;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.hidden {
      display: none;
    }

    .profile__articles__menu {
      display: inline-block;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;

      div {
        font-size: $font-size-small;
        text-transform: uppercase;
        text-align: center;
        flex-grow: 1;
        max-width: 200px;
        padding: $padding/2;
        cursor: pointer;
        color: $color5;
        border-bottom: 1px solid $color5;
        box-sizing: border-box;

        @include transition();

        &:hover, &.active {
          border-bottom: 3px solid #000000;
          color: $color;
        }
      }

      .profile__articles__menu_switch_button {
        border: none;
        background-color: #F7F7F7;
        position: relative;

        svg {
          position: absolute;
          right: 15px;
          width: 10px;
          height: 10px;
          fill: $color5;
        }
      }

      .profile__articles__menu_switch_button:hover {
        border: none;
      }

    }

    .article_preview:first-child {
      margin-top: $margin * 2;
      border-top: 1px solid $color3;
    }
  }
}



.profile__subscribers {

  background-color: $color4;
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  padding-bottom: 50px;
  box-sizing: border-box;
  position: relative;

  .profile__subscriber {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px $padding /2;

    $avatar-size: 34px;
    .avatar {
      img {
        width: $avatar-size;
        height: $avatar-size;
        @include border_radius($avatar-size);
      }
    }

    .name {
      overflow: hidden;
      flex-grow: 1;
      font-size: $font-size-small;
      text-transform: uppercase;
      word-spacing: 10px;
      justify-content: flex-start;
      padding: 0 $padding/2;
      letter-spacing: 1px;
      span:first-child {
        font-weight: $font-weight-bold;
        padding-right: $padding/3;
      }
      a {
        color: $color;
      }
    }

    .confirm_icon svg {
      width: 20px;
      height: 20px;
      fill: $color3;
      stroke: $color3;
    }

    .subscription_info {
      text-transform: uppercase;
      font-size: 9px;
      word-spacing: 5px;
    }
  }

  .profile__subscriber:last-child {
    padding-bottom: 50px;
  }


  .filter_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    $input_height: 50px;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $input_height;
    padding: 0;
    background-color: $color;

    input {
      background-color: transparent;
      outline: none;
      height: $input_height;
      text-align: center;
      padding: 0;
      margin: 0;
      border:none;
      font-size: $font_size6;
      color: #FFFFFF;
      font-weight: 300;
      font-family: $family_open_sans;
    }
  }

  .close {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;

    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
      fill: $color5;
    }
  }
}


.drafts__content {
  padding: 0 $padding;
}

@media (min-width: 1024px) {
  #profile_content {
    flex-direction: row;
    .profile_content_main {
      position: fixed;
      top: 0;
      left: 0;
      width: 400px;
      height: 100%;
      background-color: #F7F7F7;

    }

    .profile__username {
      margin-bottom: 30px;
      span {
        font-size: 20px;
      }
    }

    .profile__avatar {
      margin-top: 70px;

      //img, .profile__avatar_dummy {
      //  width: 95px;
      //  height: 95px;
      //  min-width: 95px;
      //  min-height: 95px;
      //}
    }

    .profile_content_filler {
      width: 400px;
      min-width: 400px;
    }

    .profile__articles {
      width: 100%;
      max-width: 800px;
      margin-top: $margin;

      //margin-left: 400px;

      .article_preview:first-child {
        border: none;
        margin: 0;
      }

    }

    .profile__social_links {
      margin-bottom: 40px;

      .profile__social_icon {
        width: 35px;
        height: 35px;
        text-align: center;
        margin: 0 10px;

        svg {
          width: 28px;
          height: 28px;
        }
      }
    }

    .profile__subscription {
      height: unset;
      flex-direction: column;
      margin-bottom: 0;

      .profile__subscription_info {
        margin-bottom: $margin;
      }
    }

    .header {
      display: none;
    }
  }

  .profile__subscribers {
    background-color: transparent;
    //position: fixed;
    height: 100%;
    max-height: 100%;

    max-width: 800px;
    margin: 0 $margin;

    .filter_input {
      background-color: transparent;
      border-top: 1px solid $color5;

      input {
        color: $color;
      }
    }
  }
}
