@import "contstants";
@import "mixins";

$header-height: 70px;


#profile_content {
  $avatar-side-size: 78px;

  //margin-top: $header-height + $avatar-side-size/2 + $margin;

  .profile__header {
    background-color: $color;
    height: $header-height;
    min-width: 100%;

  }


  .profile__avatar, .profile__username, .profile__social_links, .profile__subscription {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .profile__avatar {



    position: relative;
    //left: 0;

    height: $avatar-side-size / 2;
    margin-bottom: $margin;

    img {
      position: absolute;
      top: -$avatar-side-size/2;
      width: $avatar-side-size;
      height: $avatar-side-size;

      @include border_radius($avatar-side-size);

    }
  }

  .profile__username {
    text-transform: uppercase;
    margin-bottom: $margin * 2;

    span {
      font-size: $font-size;
      padding: 5px;
    }

    span:first-child {
      font-weight: $font-weight-bold;
    }
  }

  .profile__social_links {

    .profile__social_icon {

      padding: 5px;
      cursor: pointer;

      svg {
        width: 30px;
        fill: $color;
      }
    }
  }

}


