@import "contstants";
@import "mixins";


#profile_management {

  .profile__avatar {
    cursor: pointer;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .profile__avatar {
    margin-top: $margin * 2;
  }

  .profile__username {
    width: 100%;
    padding: $padding/2 ;
    div {
      width: 100%;
      word-break: break-all;
    }

    span {
      padding: 0;
    }

    .editable {
      display: inline;
    }
  }

  .profile__menu {

    justify-content: flex-start;

    .profile__menu_section {
      justify-content: flex-start;
      padding: $padding/2;
      border-bottom: 2px solid $color3;
      svg {
        width: 25px;
        height: 25px;
        fill: $color;
      }

      span {
        padding-left: $padding/3;
        display: none;
        text-transform: uppercase;
        font-size: $font-size-small;
      }

      &.active {
        border-bottom: 3px solid $color;
        flex-grow: 1;
        span {
          display: block;
        }
      }
    }
  }

  .profile__section {
    display: block;

    div {
      display: block;
    }

    .profile__auth_link {
      padding-top: $padding/2;
      background-color: $color4;
      .auth_link_text {
        display: flex;
        flex-direction: row;
      }

    }


    .profile__link {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      max-width: 100%;

      padding: $padding/2 $padding;

      div {
        padding: 0 0 0 $padding/3;
      }
      div:first-child {
        padding: 0;
      }

      .url {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $font-size-small1;
        height: 22px;
        line-height: 22px;
      }

      svg {
        fill: #000000;
        width: 18px;
        height: 18px;
      }

      .close_icon svg {
        width: 10px;
        height: 10px;
        stroke: #000000;
      }
    }

    .profile__auth_link .profile__link {
      padding-right: $padding - 5px;
      .eye svg {
        width: 24px;
        height: 24px;
      }
    }

    .link_text {
      padding: $padding/2 $padding;
      text-transform: uppercase;
      font-size: $font-size-smaller;
      letter-spacing: 1px;
    }

    .link_add_text {
      padding: $padding $padding $padding/2 $padding;
      color: $color3;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 14px;
      text-align: center;
    }

    .profile__add_link {
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: $margin $margin * 2;

      .line {
        position: absolute;
        left: 0;
        top: 50%;
        background-color: $color3;
        height: 1px;
        width: 100%;
        min-width: 100%;
      }
      .button {
        $button-size: 35px;
        width: $button-size;
        height: $button-size;
        @include border_radius($button-size);
        color: #FFFFFF;
        background-color: $color5_1;
        line-height: 35px;
        z-index: 2;
        cursor: pointer;

      }
    }
  }

  .profile__notification {
    margin: 0 $margin * 2;
    padding: $padding * 2/3 5px;
    border-bottom: 1px solid $color3;

    .time {
      font-size: $font-size-small;
      color: $color6_1;
      line-height: 14px;
    }

    .text {
      font-size: $font-size-small2;
      letter-spacing: 1px;
      line-height: 18px;
    }
  }

  .profile__notification:first-child {
    padding-top: $padding;
  }

  .profile__notification:last-child {
    border-bottom: none;
  }

  .load_more {
    padding: 10px 0;
    text-align: center;
    margin: $margin 0;
    background-color: $color4;
    cursor: pointer;
    color: $color3;
  }

  .profile__subscriptions {
    display: block;
    padding-top: 15px;

    .filter_input {
      $input_height: 50px;

      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: $input_height;
      padding: 0;
      background-color: $color;

      input {
        background-color: $color;
        outline: none;
        height: $input_height;
        text-align: center;
        padding: 0;
        margin: 0;
        border:none;
        font-size: $font_size6;
        color: #FFFFFF;
        font-weight: 300;
        font-family: $family_open_sans;

      }

    }
  }
  .profile__subscription {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: $padding/3 $padding;

    $avatar-size: 34px;

    .avatar {
      img {
        width: $avatar-size;
        height: $avatar-size;

        @include border_radius($avatar-size);

      }
    }

    .name {
      overflow: hidden;
      flex-grow: 1;
      font-size: $font-size-small;
      text-transform: uppercase;
      word-spacing: 10px;
      justify-content: flex-start;
      padding: 0 $padding/2;
      letter-spacing: 1px;
      span:first-child {
        font-weight: $font-weight-bold;
        padding-right: $padding/3;
      }
    }
  }

  .close_icon svg {
    width: 10px;
    height: 10px;
    fill: #000000;
    stroke: #000000;
  }

}

.add_link_modal {
  position: relative;
  color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;

  .button.exit svg, .button.submit svg {
    width: 45px;
    height: 45px;
    cursor: pointer;
  }

  .button.exit svg, .button.submit.active svg {
    fill: #FFFFFF;
  }

  .button.submit svg {
      fill: $color6_1
  }

  .button {
    position: absolute;
    padding: $padding/2 $padding $padding $padding;
    width: 100%;
    box-sizing: border-box;
  }

  .button.exit {
    top: 0;
  }

  .button.submit {
    bottom: 0;
    text-align: center;
  }

  .link_form {
    //position: absolute;
    //top: 50%;
    text-align: center;
    width: 100%;

    form, .message {
      padding: $padding/4 $padding;
    }

    form {
      @include placeholder($family_open_sans, $font-size6, $font-weight, #FFFFF);
    }

    form input {
      width: 100%;
      text-align: center;
      border: none;
      border-bottom: 1px solid #FFFFFF;
      outline: none;
      padding: 0 0 5px 0;
      color: #FFFFFF;
      font-size: $font_size6;
      margin: 0;
      background-color: transparent;

      @include placeholder($family_open_sans, $font-size6, $font-weight, #FFFFF);

    }

    .message {
      font-size: $font-size-small;
      text-transform: uppercase;
      font-family: $family-open-sans;
    }

    &.error {
      .message {
        color: $color-accent;
      }
      input {
        border-color: $color-accent;
      }

    }

  }




}
