@import "../contstants";
@import "../mixins";


.base_content_block {
  padding: $padding/2 $padding;
  background-color: white;

  &:last-child {
    border: 1px solid red;
  }

  &.active {
    background-color: $color4;
  }

  &.last {
    padding-bottom: 25px + $padding;
  }
}