@import "../contstants";
@import "../mixins";


.block_handler {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $padding;
  margin-top: -$padding/2;
  margin-bottom: -$padding/2;
  z-index: 1;

  &:not(.last) {
    opacity: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: $padding;
    display: block;
    height: 1px;
    width: calc(100% - #{$padding} * 2);
    background-color: $color3;
    z-index: -1;
  }

  &:not(.last) .block_handler_button {
    @include transition();
    //display: none;
    @include scale(0, 0);
  }

  &:hover {
    display: flex;
    opacity: 1;

    .block_handler_button {
      @include transition();
      //display: block;
      @include scale(1, 1);
    }
  }
}