@import "../contstants";
@import "../mixins";

.block_handler_modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color;
  width: 100%;
  height: 100%;

  .block_handler_modal__header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    .block_handler_modal__close {
      fill: white;
      width: 25px;
      height: 25px;
    }
  }

  .block_handler_modal__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: auto;
    padding: 0 $padding;

    .block_handler_modal__item {
      float: left;
      $size: calc((100% - #{$padding} * 2) / 3);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: $size;
      margin-bottom: 10px;
    }

    .block_handler_button {
      border: 1px solid white!important;
      margin: 0!important;
    }
  }
}

.block_handler_modal__caption {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: $margin;
}
