@import "../contstants";
@import "../mixins";


.block_handler {
  @include transition();
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $padding;
  margin-top: -$padding/2;
  margin-bottom: -$padding/2;
  z-index: 1;

  &:not(.last) {
    opacity: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: $padding;
    display: block;
    height: 0;
    border-bottom: 1px solid $color3;
    width: calc(100% - #{$padding} * 2);
    z-index: -1;
  }

  &:not(.last) .block_handler_button {
    @include transition();
    //display: none;
    @include scale(0, 0);
  }

  &.active {
    display: flex;
    opacity: 1;

    //&:not(.last) {
    //  margin-top: 0;
    //  margin-bottom: 0;
    //}

    .block_handler_button {
      @include transition();
      @include scale(1, 1);
    }
  }
}