@import "../contstants";
@import "../mixins";

.content_block_column {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  font-family: $family-noto;
  font-size: 16px;
  font-weight: $font-weight;
  line-height: 27px;
  padding: $padding * 1.5 $padding $padding $padding;

  p {
    &:not(:last-child) {
      margin-bottom: $margin;
    }
  }

  a, a:visited {
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }

  .content_block_column__column {
    position: relative;
    min-height: 100px;
    float: left;

    &.content_block_column__column_left {
      width: 38%;
      margin-right: $margin;
    }

    &.content_block_column__column_right {
      width: calc(62% - #{$margin});
    }
  }

  .content_block_column__image {
    width: 100%;
    min-height: 100px;
    background-size: cover!important;
    margin-top: $margin/2;
  }

  .content_block_column__image.empty {
    background: $color3 url('../../assets/images/image.svg') no-repeat center center;
    background-size: 64px!important;
  }

  //.content_block_column__image.loading {
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  background: $color3;
  //
  //  &:after {
  //    content: 'Загрузка...';
  //    position: absolute;
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //    top: 0;
  //    left: 0;
  //    width: 100%;
  //    height: 100%;
  //    background-color: rgba(0, 0, 0, 0.5);
  //    color: white;
  //    text-transform: uppercase;
  //    letter-spacing: 1px;
  //    font-size: 12px;
  //    font-family: $family_open_sans;
  //  }
  //}

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: $padding;
    width: calc(100% - #{$padding}*2);
    height: 3px;
    background-color: $color;
  }

  &.active {
    .content_editable.empty:empty:after, .content_editable.empty .empty_tag:last-child:after {
      font-weight: $font-weight-bold;
    }
  }

  .progress_bar {
    display: none;
    margin-top: $margin;

    &.active {
      display: block;
    }
  }
}