@import "../contstants";
@import "../mixins";

.content_block_column {
  @include columns_font();
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: $padding * 1.5 $padding $padding $padding;

  p {
    &:not(:last-child) {
      margin-bottom: $margin;
    }
  }

  b, strong {
    font-weight: $font-weight-bold;
  }

  i, em {
    font-style: italic;
  }

  a, a:visited {
    color: $color;
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }

  .content_block_column__column {
    position: relative;
    min-height: 100px;
    float: left;

    &.content_block_column__column_left {
      width: 38%;
      margin-right: $margin;
    }

    &.content_block_column__column_right {
      width: calc(62% - #{$margin});
    }
  }

  .content_block_column__image {
    width: 100%;
    background-size: cover!important;
    margin-top: $margin/2;

    &.loading {
      filter: grayscale(1);
    }

    &.empty {
      background: $color3 url('../../assets/images/image.svg') no-repeat center center;
      background-size: 64px!important;
      height: 100px;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: $padding;
    left: $padding;
    width: calc(100% - #{$padding}*2);
    height: 3px;
    background-color: $color;
  }

  &.active {
    .content_editable.empty:empty:after, .content_editable.empty .empty_tag:last-child:after {
      font-weight: $font-weight-bold;
    }
  }

  .progress_bar {
    display: none;
    margin-top: $margin;

    &.active {
      display: block;
    }
  }

  @include desktop {
    @include columns_font_desktop();

    &.expand_top {
      padding-top: 45px;
    }

    .content_block_column__column {
      &.content_block_column__column_left {
        width: 38%;
        margin-right: 30px;
      }

      &.content_block_column__column_right {
        width: calc(62% - 30px);
      }
    }

    .content_block_column__image {
      cursor: pointer;

      &.empty {
        height: 200px;
      }
    }
  }
}