@import "../contstants";
@import "../mixins";

.content_block_column {
  @include columns_font();
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: $padding * 1.5 $padding $padding $padding;

  &.long {
    @include columns_font_small();
  }

  p {
    &:not(:last-child) {
      margin-bottom: $margin;
    }
  }

  b, strong {
    font-weight: $font-weight-bold;
  }

  i, em {
    font-style: italic;
  }

  a, a:visited {
    color: $color;
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }

  .content_block_column__column {
    position: relative;
    min-height: 100px;
    float: left;

    &.content_block_column__column_left {
      width: 70px;
      margin-right: $margin;
    }

    &.content_block_column__column_right {
      width: calc(100% - 70px - #{$margin});
    }
  }

  .content_block_column__image {
    width: 70px;
    height: 70px;
    background-size: cover!important;

    &.loading {
      filter: grayscale(1);
    }

    &.empty {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-family: $family_noto;
      font-size: 36px;
      font-weight: $font-weight-bold;
      color: white;
      background-color: $color3;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: $padding;
    left: $padding;
    width: calc(100% - #{$padding}*2);
    height: 2px;
    background-color: $color;
  }

  &.active {
    .content_editable.empty:empty:after, .content_editable.empty .empty_tag:last-child:after {
      font-weight: $font-weight-bold;
    }
  }

  .progress_bar {
    display: none;
    margin-top: $margin;

    &.active {
      display: block;
    }
  }

  @include desktop {
    @include columns_font_desktop();

    &.long {
      @include columns_font_desktop_small();
    }

    &.expand_top {
      padding-top: 45px;
    }

    .content_block_column__column {
      &.content_block_column__column_left {
        width: 200px;
        margin-right: 30px;
      }

      &.content_block_column__column_right {
        width: calc(100% - 200px - 30px);
      }
    }

    .content_block_column__image {
      cursor: pointer;
      width: 200px;
      height: 200px;


      &.empty {
        font-size: 122px;
      }
    }
  }
}