@import "../contstants";
@import "../mixins";

$avatar_size: 32px;

.content_block_dialog {
  @include dialogue_font();

  .content_editable.empty.inline:after {
    padding-left: $avatar_size + $margin;
  }

  &.active {
    .content_editable.empty:empty:after, .content_editable.empty .empty_tag:last-child:after {
      font-weight: $font-weight-bold;
    }
  }

  @include desktop {
    @include dialogue_font_desktop();
    .content_editable.empty.inline:after {
      padding-left: 0;
    }
  }
}

.content_block_dialog__remark {
  position: relative;
  margin: $margin*2 0;

  &.hide {
    display: none;
  }

  .content_block_dialog__participant,
  .content_block_dialog__faceless_participant {
    @include border_radius($avatar_size);
    position: absolute;
    top: -2px;
    left: 0;
    display: inline-block;
    width: $avatar_size;
    height: $avatar_size;
    background-color: $color3;
    background-size: cover!important;
    z-index: 1;
  }

  .content_block_dialog__faceless_participant {
    font-family: $family_open_sans;
    color: white;
    line-height: $avatar_size;
    text-align: center;
    text-transform: uppercase;
  }

  .content_block_dialog__text {
    &:before {
      content: '';
      display: inline-block;
      width: $avatar_size;
      height: 31px;
      margin-right: $margin;
      float: left;
    }
  }

  &.interviewer {
    .content_block_dialog__text {
      font-weight: $font-weight-bold;
    }
  }

  @include desktop {
    display: flex;
    flex-direction: row;

    .content_block_dialog__participant,
    .content_block_dialog__faceless_participant {
      position: relative;
      min-width: 38px;
      width: 38px;
      height: 38px;
      cursor: pointer;
    }

    .content_block_dialog__text {
      width: 100%;
      margin-left: $margin;

      &:before {
        display: none;
      }
    }
  }

}