@import "../contstants";
@import "../mixins";


.editor_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;

  .editor_modal__header {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;

    .editor_modal__back {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      fill: white;
    }
  }

  .editor_modal__content {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - #{$padding}*4);

    .editor_modal__param {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      color: white;
      margin: $margin 0;
      font-size: 12px;
      letter-spacing: 1px;

      &:not(.active) {
        color: $color5;
      }
    }
  }

  .editor_modal__publish {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 10px;
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
}