@import "../contstants";
@import "../mixins";

.content_block_header {
  @include header_font();
  padding-top: $padding;

  @include desktop {
    @include header_font_desktop();
    padding-top: 100px;

    &.expand_top {
      padding-top: 100px!important;
    }
  }
}