@import "../contstants";
@import "../mixins";


.inline_block {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: $basic_mobile_offset;
  border-top: 1px solid $color3;
  border-bottom: 1px solid $color3;

  .inline_block__close {
    $size: 20px;
    position: absolute;
    display: inline-block;
    top: $margin;
    right: $margin;
    cursor: pointer;

    svg {
      fill: $color3;
      width: $size;
      height: $size;
    }

    &:hover {
      svg {
        fill: darken($color3, 10%);
      }
    }
  }

  @include mobile {
    padding: $basic_desktop_offset;
  }
}
