@import "../contstants";
@import "../mixins";

.content_block_lead {
  font-family: $family_arimo;
  font-size: 19px;
  font-weight: $font-weight-bold;
  line-height: $line-height3;

  p {
    &:not(:last-child) {
      margin-bottom: $margin;
    }
  }

  a, a:visited {
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }

  &.active {
    .content_editable.empty:empty:after, .content_editable.empty:last-child:after {
      font-weight: $font-weight-bold;
    }
  }
}