@import "../contstants";
@import "../mixins";

.content_block_list {
  @include list_font();

  ul {
    list-style: disc outside;
  }

  ol {
    list-style: decimal outside;
  }

  ol li, ul li, .content_editable:after {
    margin-left: $margin;
  }

  &.active {
    .content_editable.empty:empty:after, .content_editable.empty:last-child:after {
      font-weight: $font-weight-bold;
    }
  }

  @include desktop {
    font-size: 20px;
    font-weight: $font-weight-bold;
    line-height: 34px;

    .content_editable {
      margin-left: 70px;
    }

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}