@import "../contstants";
@import "../mixins";

$space: 5px;
$space_desktop: 10px;
$desktop_space: 20px;

$base_photo_height: 200px;
$base_desktop_photo_height: 400px;


.content_block_photo {
  padding: $basic_mobile_offset;
  position: relative;

  .content_block_photo__delete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: rgba($color, 0.8) url('../../assets/images/close_white.svg') no-repeat center center;
    background-size: 10px;
    @include border_radius(14px);
  }

  &:not(.active) .content_block_photo__delete {
    display: none;
  }

  .progress_bar {
    display: none;
    margin-top: $margin;

    &.active {
      display: block;
    }
  }

  .content_block_photo__photo {
    @include transition();
    position: relative;
    width: calc(50% - #{$space});
    height: $base_photo_height/2;
    float: left;
    margin-right: $space;
    margin-bottom: $space;
    cursor: pointer;
    background-size: cover!important;

    img {
      width: 100%;
      height: auto;
    }

    &.content_block_photo__empty {
      width: 100%;
      height: $base_photo_height;
      margin: 0;
      background: $color4 url('../../assets/images/image.svg') no-repeat center center;
      background-size: 128px!important;
      cursor: pointer;
    }

    @include desktop {
      width: calc(50% - #{$space_desktop});
      height: $base_desktop_photo_height/2;
      margin-right: $space_desktop;
      margin-bottom: $space_desktop;
    }
  }

  @include mobile {
    &.active .content_block_photo__photo.photo_single {
      width: 100%;
      height: inherit;

      &.photo_cropped {
        height: $base_photo_height;
      }
    }

    &:not(.active) {
      .content_block_photo__photo {
        display: none;

        &.photo0, &.photo1, &.photo2, &.photo3, &.photo4, &.photo5, &.content_block_photo__empty {
          display: block;
        }

        &.photo0 {
          width: calc(82% - #{$space} / 2);
          height: $base_photo_height;
          margin-right: $space;
        }

        &.photo1, &.photo2, &.photo3, &.photo4, &.photo5 {
          width: calc(18% - #{$space} / 2);
          height: ($base_photo_height - 4 * $space) / 5;
          margin: 0;
        }

        &.photo1, &.photo2, &.photo3, &.photo4 {
          margin-bottom: $space;
        }
      }

      &.grid_1 .content_block_photo__photo.photo0 {
        width: 100%;
        height: $base_photo_height;

        &.photo0 {
          height: auto;
        }

        &.photo0.photo_cropped {
          height: $base_photo_height;
        }
      }

      &.grid_2 .content_block_photo__photo {
        width: calc(50% - #{$space} / 2);
        height: $base_photo_height;
        margin: 0;

        &.photo0 {
          margin-right: $space;
        }
      }

      &.grid_3 .content_block_photo__photo {
        &.photo0 {
          width: calc(62% - #{$space} / 2);
          height: $base_photo_height;
          margin-right: $space;
        }

        &.photo1, &.photo2 {
          width: calc(38% - #{$space});
          height: ($base_photo_height - $space)/2;
          margin: 0;
        }

        &.photo1 {
          margin-bottom: 10px;
        }
      }

      &.grid_4 .content_block_photo__photo {
        &.photo0 {
          width: calc(75% - #{$space} / 2);
          height: $base_photo_height;
          margin-right: $space;
        }

        &.photo1, &.photo2, &.photo3 {
          width: calc(25% - #{$space} / 2);
          height: ($base_photo_height - 2 * $space) / 3;
          margin: 0;
        }

        &.photo1, &.photo2 {
          margin-bottom: $space;
        }
      }

      &.grid_5 .content_block_photo__photo {
        &.photo0 {
          width: calc(80% - #{$space} / 2);
          height: $base_photo_height;
          margin-right: $space;
        }

        &.photo1, &.photo2, &.photo3, &.photo4 {
          width: calc(20% - #{$space} / 2);
          height: ($base_photo_height - 3 * $space) / 4;
          margin: 0;
        }

        &.photo1, &.photo2, &.photo3 {
          margin-bottom: $space;
        }
      }

      &.grid_6 .content_block_photo__photo {
        &.photo0 {
          width: calc(82% - #{$space} / 2);
          height: $base_photo_height;
          margin-right: $space;
        }

        &.photo1, &.photo2, &.photo3, &.photo4, &.photo5 {
          width: calc(18% - #{$space} / 2);
          height: ($base_photo_height - 4 * $space) / 5;
          margin: 0;
        }

        &.photo1, &.photo2, &.photo3, &.photo4 {
          margin-bottom: $space;
        }
      }
    }
  }

  @include desktop {
    padding: $basic_desktop_offset;

    .content_block_photo__photo {
      height: $base_desktop_photo_height/2;

      &.content_block_photo__empty {
        height: $base_desktop_photo_height!important;
      }
    }

    &:not(.active) .content_block_photo__photo {
      &.photo0 {
        width: calc(82% - #{$space_desktop}/2);
        height: $base_desktop_photo_height;
        margin-right: $space_desktop;
      }

      &.photo1, &.photo2, &.photo3, &.photo4, &.photo5 {
        width: calc(18% - #{$space_desktop}/2);
        height: ($base_desktop_photo_height - 4 * $space_desktop) / 5;
        margin: 0;
      }

      &.photo1, &.photo2, &.photo3, &.photo4 {
        margin-bottom: $space_desktop;
      }
    }


    &.grid_1 .content_block_photo__photo.photo0 {
      width: 100%!important;
      height: auto!important;

      &.photo_cropped {
        height: $base_desktop_photo_height!important;
      }
    }

    &.grid_2 .content_block_photo__photo{
      width: calc(50% - #{$space_desktop}/2)!important;
      height: $base_desktop_photo_height!important;
      margin: 0;

      &.photo0 {
        margin-right: $space_desktop;
      }
    }

    &.grid_3 .content_block_photo__photo{
      &.photo0 {
        width: calc(62% - #{$space_desktop}/2)!important;
        height: $base_desktop_photo_height!important;
        margin-right: $space_desktop;
      }

      &.photo1, &.photo2 {
        width: calc(38% - #{$space_desktop})!important;
        height: ($base_desktop_photo_height - $space_desktop)/2!important;
        margin: 0;
      }

      &.photo1 {
        margin-bottom: 10px;
      }
    }

    &.grid_4 .content_block_photo__photo{
      &.photo0 {
        width: calc(75% - #{$space_desktop}/2)!important;
        height: $base_desktop_photo_height!important;
        margin-right: $space_desktop;
      }

      &.photo1, &.photo2, &.photo3 {
        width: calc(25% - #{$space_desktop}/2)!important;
        height: ($base_desktop_photo_height - 2 * $space_desktop) / 3!important;
        margin: 0;
      }

      &.photo1, &.photo2 {
        margin-bottom: $space_desktop;
      }
    }

    &.grid_5 .content_block_photo__photo{
      &.photo0 {
        width: calc(80% - #{$space_desktop}/2)!important;
        height: $base_desktop_photo_height!important;
        margin-right: $space_desktop;
      }

      &.photo1, &.photo2, &.photo3, &.photo4 {
        width: calc(20% - #{$space_desktop}/2)!important;
        height: ($base_desktop_photo_height - 3 * $space_desktop) / 4!important;
        margin: 0;
      }

      &.photo1, &.photo2, &.photo3 {
        margin-bottom: $space_desktop;
      }
    }

    &.grid_6 .content_block_photo__photo {
      &.photo0 {
        width: calc(82% - #{$space_desktop}/2)!important;
        height: $base_desktop_photo_height!important;
        margin-right: $space_desktop;
      }

      &.photo1, &.photo2, &.photo3, &.photo4, &.photo5 {
        width: calc(18% - #{$space_desktop}/2)!important;
        height: ($base_desktop_photo_height - 4 * $space_desktop) / 5!important;
        margin: 0;
      }

      &.photo1, &.photo2, &.photo3, &.photo4 {
        margin-bottom: $space_desktop;
      }
    }
  }
}

.content_block_photo__empty_label, .content_block_photo__help, .content_block_photo__caption {
  clear: both;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  color: $color5;
  word-wrap: break-word;
}

.content_block_photo__help {
  padding-top: $padding - 10px;
}
