@import "../contstants";
@import "../mixins";

.content_block_photo {
  padding: $padding;
  position: relative;
  $space: 10px;

  .content_block_photo__photo {
    @include transition();
    position: relative;
    width: calc(50% - #{$space});
    height: 80px;
    float: left;
    margin-right: $space;
    margin-bottom: $space;
  }

  .content_block_photo__delete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    fill: white;
  }

  &:not(.active) .content_block_photo__photo {
    width: calc(100% - #{$space});
    height: 100px;

    &.photo0 {
      height: 200px;
    }

    &.photo1, &.photo2, &.photo3, &.photo4, &.photo5 {
      width: calc(50% - #{$space});
    }

    &.photo1 {
      height: 200px + $space;
    }

    .content_block_photo__delete {
      display: none;
    }
  }

  .progress_bar {
    display: none;
    margin-top: $margin;

    &.active {
      display: block;
    }
  }
}

.content_block_photo__empty_label {
  padding-top: $padding - 10px;
  clear: both;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  color: $color5;
}

.photo_modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;

  .photo_modal__header {
    height: 50px;
    letter-spacing: 1px;
    font-size: $font-size6;
    font-weight: $font-weight-bold;
    line-height: 50px;
    text-align: center;
    color: white;
  }

  .photo_modal__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
  }

  .photo_modal__image {
    flex: auto;
    width: 100%;
    background-size: contain!important;
  }

  .photo_modal__caption {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      min-width: 50%;
      background-color: transparent;
      border: none;
      outline: none;
      color: white;
      text-align: center;
      font-family: $family_open_sans;
      font-size: $font-size6;
      line-height: 20px;

      &:focus {
        border-bottom: 1px solid white;
      }
    }

    .content_editable {
      min-width: 50%;
      color: white;

      &.empty {
        border-bottom: 1px solid white;
      }
    }
  }
}

