@import "../contstants";
@import "../mixins";

$space: 10px;
$desktop_space: 20px;


.content_block_photo {
  padding: $padding;
  position: relative;

  .content_block_photo__photo {
    @include transition();
    position: relative;
    width: calc(50% - #{$space});
    height: 80px;
    float: left;
    margin-right: $space;
    margin-bottom: $space;
  }

  .content_block_photo__delete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: rgba($color, 0.8) url('../../assets/images/close_white.svg') no-repeat center center;
    background-size: 10px;
    @include border_radius(14px);
  }

  &:not(.active) .content_block_photo__photo {
    width: calc(100% - #{$space});
    height: 100px;

    &.photo0 {
      height: 200px;
    }

    &.photo1, &.photo2, &.photo3, &.photo4, &.photo5 {
      width: calc(50% - #{$space});
    }

    &.photo1 {
      height: 200px + $space;
    }

    .content_block_photo__delete {
      display: none;
    }
  }

  .progress_bar {
    display: none;
    margin-top: $margin;

    &.active {
      display: block;
    }
  }

  @include desktop {
    .content_block_photo__photo {
      width: calc(50% - #{$desktop_space});
      height: 200px;
      margin-right: $desktop_space;
      margin-bottom: $desktop_space;
    }

    .content_block_photo__delete {
      width: 34px;
      height: 34px;
      background-size: 20px;
      @include border_radius(20px);
      cursor: pointer;
      &:hover {
        background-color: darken($color, 10%);
      }
    }

    &:not(.active) .content_block_photo__photo {
      width: calc(100% - #{$desktop_space});
      height: 200px;

      &.photo0 {
        height: 400px;
      }

      &.photo1, &.photo2, &.photo3, &.photo4, &.photo5 {
        width: calc(50% - #{$desktop_space});
      }

      &.photo1 {
        height: 400px + $desktop_space;
      }

      .content_block_photo__delete {
        display: none;
      }
    }
  }
}

.content_block_photo__empty_label, .content_block_photo__help {
  clear: both;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  color: $color5;
}

.content_block_photo__help {
  padding-top: $padding - 10px;
}
