@import "../contstants";
@import "../mixins";

.content_block_phrase {
  position: relative;
  font-family: $family-arimo;
  font-size: $font-size4;
  font-weight: $font-weight-bold;
  line-height: $line-height4;
  text-align: right;
  padding-top: $padding * 2;

  &:after {
    content: '';
    position: absolute;
    top: $padding;
    left: calc(25% + #{$padding});
    width: calc(75% - #{$padding} * 2);
    height: 4px;
    background-color: $color;
  }
}