@import "../contstants";
@import "../mixins";

.content_block_phrase {
  position: relative;
  font-family: $family-arimo;
  font-size: $font-size4;
  font-weight: $font-weight-bold;
  line-height: $line-height4;
  text-align: right;
  padding-top: $padding * 1.5;
  padding-left: 25%;

  &:before {
    content: '';
    position: absolute;
    top: $padding;
    left: 25%;
    width: calc(75% - #{$padding});
    height: 4px;
    background-color: $color;
  }

  @include desktop {
    font-size: 26px;
    line-height: 39px;
    padding-left: $padding;

    .content_editable {
      margin-left: 25%;
    }
  }
}