@import "../contstants";
@import "../mixins";

.content_block_phrase {
  @include phrase_font();
  padding: $basic_mobile_offset;

  &.short {
    @include phrase_font_large();
  }

  &.long {
    @include phrase_font_small();
  }

  .base_content_block__content {
    width: calc(100% - 70px);
    padding: 0 35px;
  }

  @include desktop {
    @include phrase_font_desktop();
    padding-left: $padding;

    &.short {
      @include phrase_font_desktop_large();
    }

    &.long {
      @include phrase_font_desktop_small();
    }

    &.expand_top {
      padding-top: $padding * 1.5!important;
    }
  }
}