@import "../contstants";
@import "../mixins";

$photo_size: 70px;
$desktop_photo_size: 100px;

.content_block_quote {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: $family_arimo;
  font-size: 17px;
  font-weight: $font-weight;
  line-height: 26px;

  b, strong {
    font-weight: $font-weight-bold;
  }

  i, em {
    font-style: italic;
  }

  a, a:visited {
    color: $color;
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }

  .content_editable {
    width: 100%;

    p:first-child:before {
      content: '';
      display: inline-block;
      background: url('../../assets/images/pub_quote.svg') no-repeat center center;
      background-size: 36px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      margin-bottom: -5px;
    }
  }

  .content_editable.empty:empty:after, .content_editable.empty .empty_tag:last-child:after {
    padding-left: 40px;
  }

  &.active {
    .content_editable.empty:empty:after, .content_editable.empty .empty_tag:last-child:after {
      font-weight: $font-weight-bold;
    }
  }

  .content_block_quote__photo,
  .content_block_quote__empty_photo {
    @include border_radius($photo_size);
    width: $photo_size;
    height: $photo_size;
  }

  .content_block_quote__photo {
    margin-top: 0;
    background-size: cover!important;
  }

  .content_block_quote__empty_photo {
    display: none;
    background: $color3 url('../../assets/images/redactor_icon_person.svg') no-repeat center center;
    background-size: 30px;
    margin-top: -($photo_size/2 + $padding/2);
  }

  &.active {
    margin-top: $photo_size/2 + $padding/2;

    .content_block_quote__empty_photo {
      display: block;
    }

    .content_block_quote__photo {
        margin-top: -($photo_size/2 + $padding/2);
    }
  }

  .content_block_quote__menu {
    position: absolute;
    top: $photo_size/2 + $padding/2;
    left: calc(50% - 65px);
    width: 130px;
    background-color: $color;
    font-size: $font-size5;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    z-index: 10;

    .content_block_quote__menu_item {
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
    }

    .content_block_quote__menu_item:not(last-child) {
      border-bottom: 1px solid darken($color, 10%);
    }
  }

  &:not(.active) {
    .content_block_quote__menu {
      display: none;
    }
  }
  
  .progress_bar {
    display: none;
    margin-top: $margin;
    
    &.active {
      display: block;
    }
  }

  &.invalid {

  }

  @include desktop {
    flex-direction: row;
    align-items: center;

    .content_block_quote__photo,
    .content_block_quote__empty_photo {
      @include border_radius($desktop_photo_size);
      min-width: $desktop_photo_size;
      height: $desktop_photo_size;
      margin-top: unset!important;
      margin-right: 30px;
      cursor: pointer;

      .content_block_quote__foreground {
        @include transition();
        opacity: 0;
        background: rgba(0, 0, 0, 0.75) url('../../assets/images/close_white.svg') no-repeat center center;
        background-size: 20px;
        width: $desktop_photo_size;
        height: $desktop_photo_size;
        @include border_radius($desktop_photo_size);
      }

      &:hover .content_block_quote__foreground {
        opacity: 1;
      }
    }
  }
}

