@import "../contstants";
@import "../mixins";

$photo_size: 60px;
$desktop_photo_size: 80px;

.content_block_quote {
  @include quote_font();
  position: relative;
  padding: $basic_mobile_offset;

  b, strong {
    font-weight: $font-weight-bold;
  }

  i, em {
    font-style: italic;
  }

  a, a:visited {
    color: $color;
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }

  .base_content_block__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content_block_quote__quote {
    width: calc(100% - 18px);
    padding-left: 18px;
    border-left: 2px solid $color;
  }

  .content_editable {
    position: relative;
    width: 100%;

    &:before {
      content: '';
      display: inline-block;
      background: url('../../assets/images/pub_quote.svg') no-repeat center center;
      background-size: 36px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      margin-top: -6px;
      float: left;
    }

    p:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &.long {
    @include quote_font_small();

    .content_editable:before {
      width: 20px;
      height: 20px;
      background-size: 28px;
    }
  }

  .content_editable.empty .empty_tag {
    display: inline-block;
    width: calc(100% - 40px);
  }

  &.active {
    .content_editable.empty:empty:after, .content_editable.empty .empty_tag:last-child:after {
      font-weight: $font-weight-bold;
    }
  }

  .content_block_quote__photo,
  .content_block_quote__empty_photo {
    @include border_radius($photo_size);
    width: $photo_size;
    height: $photo_size;
    margin-bottom: 20px;
  }

  .content_block_quote__photo {
    margin-top: 0;
    background-size: cover!important;
  }

  .content_block_quote__empty_photo {
    display: none;
    background: $color3 url('../../assets/images/redactor_icon_person.svg') no-repeat center center;
    background-size: 30px;
  }

  &.active {
    .content_block_quote__empty_photo {
      display: block;
    }
  }

  .content_block_quote__menu {
    position: absolute;
    top: 70px;
    width: 130px;
    background-color: $color;
    font-family: $family_open_sans;
    font-size: $font-size-small;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    z-index: 10;

    .content_block_quote__menu_item {
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
    }

    .content_block_quote__menu_item:not(last-child) {
      border-bottom: 1px solid darken($color, 10%);
    }
  }

  &:not(.active) {
    .content_block_quote__menu {
      display: none;
    }
  }
  
  .progress_bar {
    display: none;
    margin-top: $margin;
    
    &.active {
      display: block;
    }
  }

  &.invalid {

  }

  @include desktop {
    @include quote_font_desktop();
    padding: $basic_desktop_offset;

    &.long {
      @include quote_font_desktop_small();

      .content_editable:before {
        margin-top: 0px;
      }
    }

    .base_content_block__content {
      width: 500px;
      padding: 0 75px;
    }

    .content_block_quote__photo,
    .content_block_quote__empty_photo {
      @include border_radius($desktop_photo_size);
      min-width: $desktop_photo_size;
      height: $desktop_photo_size;
      margin-top: unset!important;
      cursor: pointer;

      .content_block_quote__foreground {
        @include transition();
        opacity: 0;
        background: rgba(0, 0, 0, 0.75) url('../../assets/images/close_white.svg') no-repeat center center;
        background-size: 20px;
        width: $desktop_photo_size;
        height: $desktop_photo_size;
        @include border_radius($desktop_photo_size);
      }

      &:hover .content_block_quote__foreground {
        opacity: 1;
      }
    }
  }
}

