@import "../contstants";
@import "../mixins";

.content_block_text {
  font-family: $family-noto;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;

  p {
    &:not(:last-child) {
      margin-bottom: $margin;
    }
  }

  b, strong {
    font-weight: $font-weight-bold;
  }
  
  i, em {
    font-style: italic;
  }

  a, a:visited {
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }

  &.active {
    .content_editable.empty:empty:after, .content_editable.empty .empty_tag:last-child:after {
      font-weight: $font-weight-bold;
    }
  }
}