@import "../contstants";
@import "../mixins";

.content_block_text {
  @include text_font();

  p {
    &:not(:last-child) {
      margin-bottom: $margin;
    }
  }

  b, strong {
    font-weight: $font-weight-bold;
  }
  
  i, em {
    font-style: italic;
  }

  a, a:visited {
    color: $color;
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }

  &.active {
    .content_editable.empty:empty:after, .content_editable.empty .empty_tag:last-child:after {
      font-weight: $font-weight-bold;
    }
  }

  @include desktop {
    @include text_font_desktop();
  }
}