@import "../contstants";
@import "../mixins";

.title_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color4;
  text-align: center;
  padding: 100px $padding;

  .image_editor_alt {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.title_block__title {
  position: relative;
  width: 100%;
  font-family: $family-arimo;
  font-size: 33px;
  font-weight: $font-weight-bold;
  line-height: 43px;
  text-align: center;
  z-index: 1;
}

.title_block__cover_handler_wrapper {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 1;
}

.title_block__cover_handler {
  display: inline-block;
  height: 30px;
  font-size: 10px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color5;
  @include border_radius(10px);
  border: 1px solid $color5;
  padding: 0 7px;
}

.title_block.inverse .title_block__cover_handler {
  background-color: rgba(0, 0, 0, 0.5);
  color: $color3;
  border-color: transparent;
}

.title_block__cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  z-index: -1;
}

.title_block.inverse {
  &:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  //background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

@include desktop {
  $title_padding: 120px;
  .title_block {
    background-color: $color4;
    padding: 120px 0;
    min-height: calc(360px - #{$title_padding} * 2);
    max-height: calc(480px - #{$title_padding} * 2);
    overflow: hidden;
  }

  .title_block__title {
    max-width: 600px;
    font-size: 40px;
    line-height: 51px;
  }

  .title_block__cover_handler {
    @include border_radius(10px);
    top: 50px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    color: $color3;
    cursor: pointer;
    border: 1px solid $color3;
    padding: 0 20px;

    &:hover {
      color: $color5;
      border-color: $color5;
    }
  }

  .title_block.inverse .title_block__cover_handler:hover {
    color: white;
    background-color: $color;
  }
}