@import "../contstants";
@import "../mixins";

.title_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  background-size: cover!important;

  &.covered {
    min-height: 350px;
  }

  .title_block__container {
    box-sizing: border-box;
    flex: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    background-size: cover!important;
    padding: 80px $basic_mobile_offset;
  }

  .image_editor_alt {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .title_block__title {
    @include title_font();
    position: relative;
    width: calc(100% - #{$padding} * 2);
    max-width: 600px - $padding * 2;
    z-index: 1;
  }

  &.short .title_block__title {
    @include title_font_large();
  }

  &.inverse, &.covered {
    background-color: $color8;
    color: white;
  }

  &.covered:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.title_block__invert_handler {
  position: absolute;
  top: 34px;
  right: 30px;
  z-index: 10;
  cursor: pointer;
}

.title_block__cover_handler {
  position: absolute;
  top: 30px;
  left: 80px;
  z-index: 1;
  display: inline-block;
  height: 30px;
  font-size: 10px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: underline;
  color: $color5;
  padding: 0 7px;
}

.title_block.inverse .title_block__cover_handler {
  color: $color3;

  &:hover {
    color: white;
  }
}

.title_block.covered .title_block__cover_handler {
  background-color: rgba(black, 0.4);
}

.title_block__cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  z-index: -1;
}

@include desktop {

  .title_block {
    min-height: 400px;

    &.covered {
      min-height: 475px;
    }

    .title_block__container {
      width: 650px;
      padding: 120px 0;
    }

    .title_block__title {
      @include title_font_desktop();
      max-width: 650px;
    }

    &.long .title_block__title {
      @include title_font_desktop_small();
    }

    &.short .title_block__title {
      @include title_font_desktop_large();
    }

    .title_block__cover_handler {
      top: 50px;
      left: 0;
      height: 30px;
      font-size: 10px;
      line-height: 30px;
      color: $color5;
      cursor: pointer;
      padding: 0 20px;
      text-decoration: underline;

      &:hover {
        color: $color;
      }
    }

    &.inverse {
      .title_block__cover_handler:hover {
        color: white;
      }
    }

    .title_block__invert_handler {
      top: 53px;
      right: 50px;
    }
  }
}