@import "../contstants";
@import "../mixins";

.url_modal {
  display: flex;
  flex-direction: column;
  height: 100%;

  .url_modal__header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .url_modal__back {
      width: 50px;
      height: 50px;
      fill: white;
    }
  }

  .url_modal__content {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      width: calc(100% - #{$padding}*2);
    }

    .url_modal__input {
      width: 100%;
      background-color: transparent;
      border: none;
      text-align: center;
      outline: none;
      color: white;
      font-size: 14px;
      line-height: 30px;
      letter-spacing: 1px;
      font-family: $family_open_sans;
      border-bottom: 1px solid white;
    }

    .url_modal__help, .url_modal__error {
      font-size: 8px;
      line-height: 30px;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      color: white;
    }

    .url_modal__error {
      color: #FF3333;
    }

    &.error {
      .url_modal__input {
        border-bottom: 1px solid #FF3333;
      }
    }
  }

  .url_modal__tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;

    svg {
      width: 35px;
      height: 35px;
      fill: white;

      &:not(:last-child) {
        margin-right: $margin;
      }

      &.disabled {
        fill: $color5;
      }
    }
  }

}