<!DOCTYPE html>
<html lang="ru">
<head>
    <base target="_blank">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/bundle.css" rel="stylesheet">
    <title>Textius</title>
</head>
<body>
    <div id="app"></div>
    <div id="app_server"><%- reactData %></div>
    <div id="vk_api_transport"></div>
    <script type="text/javascript" src="/static/vendor.js"></script>
    <script type="text/javascript" src="/static/bundle.js"></script>
</body>
</html>